=begin
#BitbarCloud API

#BitbarCloud API.

OpenAPI spec version: 2.87.0
Contact: support@bitbar.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.10

=end

require 'uri'

module BitbarCloudApiClient
  class AdminApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Abort build.
    # @param build_id buildId
    # @param job_id jobId
    # @param [Hash] opts the optional parameters
    # @return [APIPipelineBuild]
    def abort_build_using_post(build_id, job_id, opts = {})
      data, _status_code, _headers = abort_build_using_post_with_http_info(build_id, job_id, opts)
      data
    end

    # Abort build.
    # @param build_id buildId
    # @param job_id jobId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIPipelineBuild, Fixnum, Hash)>] APIPipelineBuild data, response status code and response headers
    def abort_build_using_post_with_http_info(build_id, job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.abort_build_using_post ...'
      end
      # verify the required parameter 'build_id' is set
      if @api_client.config.client_side_validation && build_id.nil?
        fail ArgumentError, "Missing the required parameter 'build_id' when calling AdminApi.abort_build_using_post"
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling AdminApi.abort_build_using_post"
      end
      # resource path
      local_var_path = '/api/v2/jobs/{jobId}/builds/{buildId}/abort'.sub('{' + 'buildId' + '}', build_id.to_s).sub('{' + 'jobId' + '}', job_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIPipelineBuild')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#abort_build_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [APITestRun]
    def abort_project_test_run_using_post(project_id, run_id, opts = {})
      data, _status_code, _headers = abort_project_test_run_using_post_with_http_info(project_id, run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITestRun, Fixnum, Hash)>] APITestRun data, response status code and response headers
    def abort_project_test_run_using_post_with_http_info(project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.abort_project_test_run_using_post ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdminApi.abort_project_test_run_using_post"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AdminApi.abort_project_test_run_using_post"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/abort'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITestRun')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#abort_project_test_run_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [APIAdminTestRun]
    def abort_test_run_using_post(run_id, opts = {})
      data, _status_code, _headers = abort_test_run_using_post_with_http_info(run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAdminTestRun, Fixnum, Hash)>] APIAdminTestRun data, response status code and response headers
    def abort_test_run_using_post_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.abort_test_run_using_post ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AdminApi.abort_test_run_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/runs/{runId}/abort'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIAdminTestRun')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#abort_test_run_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [APITestRun]
    def abort_test_run_using_post1(run_id, opts = {})
      data, _status_code, _headers = abort_test_run_using_post1_with_http_info(run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [Array<(APITestRun, Fixnum, Hash)>] APITestRun data, response status code and response headers
    def abort_test_run_using_post1_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.abort_test_run_using_post1 ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AdminApi.abort_test_run_using_post1"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/abort'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITestRun')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#abort_test_run_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate license.
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [APILicense]
    def activate_license_using_post(id, opts = {})
      data, _status_code, _headers = activate_license_using_post_with_http_info(id, opts)
      data
    end

    # Activate license.
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APILicense, Fixnum, Hash)>] APILicense data, response status code and response headers
    def activate_license_using_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.activate_license_using_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.activate_license_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/licenses/{id}/activate'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APILicense')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#activate_license_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate service.
    # @param service_id serviceId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :activate_time activateTime
    # @return [APIService]
    def activate_service_using_post(service_id, opts = {})
      data, _status_code, _headers = activate_service_using_post_with_http_info(service_id, opts)
      data
    end

    # Activate service.
    # @param service_id serviceId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :activate_time activateTime
    # @return [Array<(APIService, Fixnum, Hash)>] APIService data, response status code and response headers
    def activate_service_using_post_with_http_info(service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.activate_service_using_post ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AdminApi.activate_service_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/services/{serviceId}/activate'.sub('{' + 'serviceId' + '}', service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'activateTime'] = opts[:'activate_time'] if !opts[:'activate_time'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIService')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#activate_service_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate account service.
    # @param account_service_id accountServiceId
    # @param [Hash] opts the optional parameters
    # @return [APIAccountService]
    def activate_user_service_using_post(account_service_id, opts = {})
      data, _status_code, _headers = activate_user_service_using_post_with_http_info(account_service_id, opts)
      data
    end

    # Activate account service.
    # @param account_service_id accountServiceId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAccountService, Fixnum, Hash)>] APIAccountService data, response status code and response headers
    def activate_user_service_using_post_with_http_info(account_service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.activate_user_service_using_post ...'
      end
      # verify the required parameter 'account_service_id' is set
      if @api_client.config.client_side_validation && account_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_service_id' when calling AdminApi.activate_user_service_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/account-services/{accountServiceId}/activate'.sub('{' + 'accountServiceId' + '}', account_service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIAccountService')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#activate_user_service_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add device specific cleanup configuration.
    # @param device_cleanup_configuration_id deviceCleanupConfigurationId
    # @param device_id deviceId
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceCleanupConfiguration]
    def add_device_cleanup_configuration_using_post(device_cleanup_configuration_id, device_id, opts = {})
      data, _status_code, _headers = add_device_cleanup_configuration_using_post_with_http_info(device_cleanup_configuration_id, device_id, opts)
      data
    end

    # Add device specific cleanup configuration.
    # @param device_cleanup_configuration_id deviceCleanupConfigurationId
    # @param device_id deviceId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceCleanupConfiguration, Fixnum, Hash)>] APIDeviceCleanupConfiguration data, response status code and response headers
    def add_device_cleanup_configuration_using_post_with_http_info(device_cleanup_configuration_id, device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_device_cleanup_configuration_using_post ...'
      end
      # verify the required parameter 'device_cleanup_configuration_id' is set
      if @api_client.config.client_side_validation && device_cleanup_configuration_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_cleanup_configuration_id' when calling AdminApi.add_device_cleanup_configuration_using_post"
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AdminApi.add_device_cleanup_configuration_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/cleanup-configuration'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'deviceCleanupConfigurationId'] = device_cleanup_configuration_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceCleanupConfiguration')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_device_cleanup_configuration_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add label to device.
    # @param device_id deviceId
    # @param label_id labelId
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceProperty]
    def add_device_label_using_post(device_id, label_id, opts = {})
      data, _status_code, _headers = add_device_label_using_post_with_http_info(device_id, label_id, opts)
      data
    end

    # Add label to device.
    # @param device_id deviceId
    # @param label_id labelId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceProperty, Fixnum, Hash)>] APIDeviceProperty data, response status code and response headers
    def add_device_label_using_post_with_http_info(device_id, label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_device_label_using_post ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AdminApi.add_device_label_using_post"
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling AdminApi.add_device_label_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/labels'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'labelId'] = label_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceProperty')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_device_label_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create device model criterion.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :field field
    # @option opts [Integer] :label_group_id labelGroupId
    # @return [nil]
    def add_device_model_criteria_using_post(opts = {})
      add_device_model_criteria_using_post_with_http_info(opts)
      nil
    end

    # Create device model criterion.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :field field
    # @option opts [Integer] :label_group_id labelGroupId
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_device_model_criteria_using_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_device_model_criteria_using_post ...'
      end
      if @api_client.config.client_side_validation && opts[:'field'] && !['NAME', 'FINGERPRINT', 'SERIAL_ID', 'UNLOCK_GESTURE', 'SOFTWARE_VERSION', 'INIT_STEP', 'ACCOUNT'].include?(opts[:'field'])
        fail ArgumentError, 'invalid value for "field", must be one of NAME, FINGERPRINT, SERIAL_ID, UNLOCK_GESTURE, SOFTWARE_VERSION, INIT_STEP, ACCOUNT'
      end
      # resource path
      local_var_path = '/api/v2/admin/device-model-criteria'

      # query parameters
      query_params = {}
      query_params[:'field'] = opts[:'field'] if !opts[:'field'].nil?
      query_params[:'labelGroupId'] = opts[:'label_group_id'] if !opts[:'label_group_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_device_model_criteria_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add device to device group.
    # @param device_group_id deviceGroupId
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :device_id deviceId
    # @option opts [Array<Integer>] :device_ids deviceIds[]
    # @return [APIDeviceGroup]
    def add_device_to_device_group_using_post(device_group_id, opts = {})
      data, _status_code, _headers = add_device_to_device_group_using_post_with_http_info(device_group_id, opts)
      data
    end

    # Add device to device group.
    # @param device_group_id deviceGroupId
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :device_id deviceId
    # @option opts [Array<Integer>] :device_ids deviceIds[]
    # @return [Array<(APIDeviceGroup, Fixnum, Hash)>] APIDeviceGroup data, response status code and response headers
    def add_device_to_device_group_using_post_with_http_info(device_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_device_to_device_group_using_post ...'
      end
      # verify the required parameter 'device_group_id' is set
      if @api_client.config.client_side_validation && device_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_group_id' when calling AdminApi.add_device_to_device_group_using_post"
      end
      # resource path
      local_var_path = '/api/v2/device-groups/{deviceGroupId}/devices'.sub('{' + 'deviceGroupId' + '}', device_group_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'deviceId'] = @api_client.build_collection_param(opts[:'device_id'], :multi) if !opts[:'device_id'].nil?
      query_params[:'deviceIds[]'] = @api_client.build_collection_param(opts[:'device_ids'], :multi) if !opts[:'device_ids'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_device_to_device_group_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add tag to test run.
    # @param name name
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [APITag]
    def add_project_test_run_tag_using_post(name, project_id, run_id, opts = {})
      data, _status_code, _headers = add_project_test_run_tag_using_post_with_http_info(name, project_id, run_id, opts)
      data
    end

    # Add tag to test run.
    # @param name name
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITag, Fixnum, Hash)>] APITag data, response status code and response headers
    def add_project_test_run_tag_using_post_with_http_info(name, project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_project_test_run_tag_using_post ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.add_project_test_run_tag_using_post"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdminApi.add_project_test_run_tag_using_post"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AdminApi.add_project_test_run_tag_using_post"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/tags'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'name'] = name

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITag')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_project_test_run_tag_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add account role.
    # @param role_id roleId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :expire_time expireTime
    # @option opts [Integer] :value value
    # @return [APIRole]
    def add_role_to_account_using_post(role_id, user_id, opts = {})
      data, _status_code, _headers = add_role_to_account_using_post_with_http_info(role_id, user_id, opts)
      data
    end

    # Add account role.
    # @param role_id roleId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :expire_time expireTime
    # @option opts [Integer] :value value
    # @return [Array<(APIRole, Fixnum, Hash)>] APIRole data, response status code and response headers
    def add_role_to_account_using_post_with_http_info(role_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_role_to_account_using_post ...'
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminApi.add_role_to_account_using_post"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminApi.add_role_to_account_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/users/{userId}/account/roles'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'roleId'] = role_id
      query_params[:'expireTime'] = opts[:'expire_time'] if !opts[:'expire_time'].nil?
      query_params[:'value'] = opts[:'value'] if !opts[:'value'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIRole')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_role_to_account_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add screenshot to device session.
    # @param device_session_id deviceSessionId
    # @param name name
    # @param screenshot screenshot
    # @param [Hash] opts the optional parameters
    # @return [APIUserFile]
    def add_screenshot_using_post(device_session_id, name, screenshot, opts = {})
      data, _status_code, _headers = add_screenshot_using_post_with_http_info(device_session_id, name, screenshot, opts)
      data
    end

    # Add screenshot to device session.
    # @param device_session_id deviceSessionId
    # @param name name
    # @param screenshot screenshot
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUserFile, Fixnum, Hash)>] APIUserFile data, response status code and response headers
    def add_screenshot_using_post_with_http_info(device_session_id, name, screenshot, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_screenshot_using_post ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AdminApi.add_screenshot_using_post"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.add_screenshot_using_post"
      end
      # verify the required parameter 'screenshot' is set
      if @api_client.config.client_side_validation && screenshot.nil?
        fail ArgumentError, "Missing the required parameter 'screenshot' when calling AdminApi.add_screenshot_using_post"
      end
      # resource path
      local_var_path = '/api/v2/device-sessions/{deviceSessionId}/output-file-set/screenshots'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'name'] = name

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['screenshot'] = screenshot

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIUserFile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_screenshot_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add selectors to device group.
    # @param device_group_id deviceGroupId
    # @param selector_ids selectorIds[]
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceGroup]
    def add_selector_to_device_group_using_post(device_group_id, selector_ids, opts = {})
      data, _status_code, _headers = add_selector_to_device_group_using_post_with_http_info(device_group_id, selector_ids, opts)
      data
    end

    # Add selectors to device group.
    # @param device_group_id deviceGroupId
    # @param selector_ids selectorIds[]
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceGroup, Fixnum, Hash)>] APIDeviceGroup data, response status code and response headers
    def add_selector_to_device_group_using_post_with_http_info(device_group_id, selector_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_selector_to_device_group_using_post ...'
      end
      # verify the required parameter 'device_group_id' is set
      if @api_client.config.client_side_validation && device_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_group_id' when calling AdminApi.add_selector_to_device_group_using_post"
      end
      # verify the required parameter 'selector_ids' is set
      if @api_client.config.client_side_validation && selector_ids.nil?
        fail ArgumentError, "Missing the required parameter 'selector_ids' when calling AdminApi.add_selector_to_device_group_using_post"
      end
      # resource path
      local_var_path = '/api/v2/device-groups/{deviceGroupId}/selectors'.sub('{' + 'deviceGroupId' + '}', device_group_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'selectorIds[]'] = @api_client.build_collection_param(selector_ids, :multi)

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_selector_to_device_group_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add service to user.
    # @param service_id serviceId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count count (default to 1)
    # @return [APIAccountService]
    def add_service_to_user_using_post(service_id, user_id, opts = {})
      data, _status_code, _headers = add_service_to_user_using_post_with_http_info(service_id, user_id, opts)
      data
    end

    # Add service to user.
    # @param service_id serviceId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count count
    # @return [Array<(APIAccountService, Fixnum, Hash)>] APIAccountService data, response status code and response headers
    def add_service_to_user_using_post_with_http_info(service_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_service_to_user_using_post ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AdminApi.add_service_to_user_using_post"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminApi.add_service_to_user_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/users/{userId}/account-services'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'serviceId'] = service_id
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIAccountService')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_service_to_user_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add service to user.
    # @param service_id serviceId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count count (default to 1)
    # @return [APIAccountService]
    def add_service_to_user_using_post1(service_id, user_id, opts = {})
      data, _status_code, _headers = add_service_to_user_using_post1_with_http_info(service_id, user_id, opts)
      data
    end

    # Add service to user.
    # @param service_id serviceId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count count
    # @return [Array<(APIAccountService, Fixnum, Hash)>] APIAccountService data, response status code and response headers
    def add_service_to_user_using_post1_with_http_info(service_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_service_to_user_using_post1 ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AdminApi.add_service_to_user_using_post1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminApi.add_service_to_user_using_post1"
      end
      # resource path
      local_var_path = '/api/v2/admin/users/{userId}/account/services'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'serviceId'] = service_id
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIAccountService')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_service_to_user_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add tag to test run.
    # @param name name
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [APITag]
    def add_test_run_tag_using_post(name, run_id, opts = {})
      data, _status_code, _headers = add_test_run_tag_using_post_with_http_info(name, run_id, opts)
      data
    end

    # Add tag to test run.
    # @param name name
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [Array<(APITag, Fixnum, Hash)>] APITag data, response status code and response headers
    def add_test_run_tag_using_post_with_http_info(name, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_test_run_tag_using_post ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.add_test_run_tag_using_post"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AdminApi.add_test_run_tag_using_post"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/tags'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'name'] = name
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITag')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_test_run_tag_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add label to device.
    # @param device_id deviceId
    # @param label_id labelId
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceProperty]
    def add_user_label_device_using_post(device_id, label_id, opts = {})
      data, _status_code, _headers = add_user_label_device_using_post_with_http_info(device_id, label_id, opts)
      data
    end

    # Add label to device.
    # @param device_id deviceId
    # @param label_id labelId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceProperty, Fixnum, Hash)>] APIDeviceProperty data, response status code and response headers
    def add_user_label_device_using_post_with_http_info(device_id, label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_user_label_device_using_post ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AdminApi.add_user_label_device_using_post"
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling AdminApi.add_user_label_device_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/properties'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'labelId'] = label_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceProperty')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_user_label_device_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add user to access group.
    # @param access_group_id accessGroupId
    # @param email email
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def add_user_using_post(access_group_id, email, opts = {})
      data, _status_code, _headers = add_user_using_post_with_http_info(access_group_id, email, opts)
      data
    end

    # Add user to access group.
    # @param access_group_id accessGroupId
    # @param email email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Fixnum, Hash)>] APIUser data, response status code and response headers
    def add_user_using_post_with_http_info(access_group_id, email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_user_using_post ...'
      end
      # verify the required parameter 'access_group_id' is set
      if @api_client.config.client_side_validation && access_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'access_group_id' when calling AdminApi.add_user_using_post"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AdminApi.add_user_using_post"
      end
      # resource path
      local_var_path = '/api/v2/access-groups/{accessGroupId}/users'.sub('{' + 'accessGroupId' + '}', access_group_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'email'] = email

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIUser')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_user_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Archive service.
    # @param service_id serviceId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def archive_service_using_delete(service_id, opts = {})
      archive_service_using_delete_with_http_info(service_id, opts)
      nil
    end

    # Archive service.
    # @param service_id serviceId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def archive_service_using_delete_with_http_info(service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.archive_service_using_delete ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AdminApi.archive_service_using_delete"
      end
      # resource path
      local_var_path = '/api/v2/admin/services/{serviceId}'.sub('{' + 'serviceId' + '}', service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#archive_service_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create property banning application.
    # @param test_run_id testRunId
    # @param [Hash] opts the optional parameters
    # @return [APIProperty]
    def ban_application_using_post(test_run_id, opts = {})
      data, _status_code, _headers = ban_application_using_post_with_http_info(test_run_id, opts)
      data
    end

    # Create property banning application.
    # @param test_run_id testRunId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIProperty, Fixnum, Hash)>] APIProperty data, response status code and response headers
    def ban_application_using_post_with_http_info(test_run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.ban_application_using_post ...'
      end
      # verify the required parameter 'test_run_id' is set
      if @api_client.config.client_side_validation && test_run_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_run_id' when calling AdminApi.ban_application_using_post"
      end
      # resource path
      local_var_path = '/api/v2/properties/app-bans'

      # query parameters
      query_params = {}
      query_params[:'testRunId'] = test_run_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIProperty')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#ban_application_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create property banning email domain.
    # @param email email
    # @param [Hash] opts the optional parameters
    # @return [APIProperty]
    def ban_email_domain_using_post(email, opts = {})
      data, _status_code, _headers = ban_email_domain_using_post_with_http_info(email, opts)
      data
    end

    # Create property banning email domain.
    # @param email email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIProperty, Fixnum, Hash)>] APIProperty data, response status code and response headers
    def ban_email_domain_using_post_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.ban_email_domain_using_post ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AdminApi.ban_email_domain_using_post"
      end
      # resource path
      local_var_path = '/api/v2/properties/email-bans'

      # query parameters
      query_params = {}
      query_params[:'email'] = email

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIProperty')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#ban_email_domain_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Start blinking device screen.
    # @param device_id deviceId
    # @param [Hash] opts the optional parameters
    # @return [APIAdminDevice]
    def blink_using_post(device_id, opts = {})
      data, _status_code, _headers = blink_using_post_with_http_info(device_id, opts)
      data
    end

    # Start blinking device screen.
    # @param device_id deviceId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAdminDevice, Fixnum, Hash)>] APIAdminDevice data, response status code and response headers
    def blink_using_post_with_http_info(device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.blink_using_post ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AdminApi.blink_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/blink'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIAdminDevice')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#blink_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Check potential notifications generated by notification plan.
    # @param id id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;scope_eq_all&lt;br&gt;filter&#x3D;channel_eq_slack&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;userid_eq_1&lt;br&gt;filter&#x3D;projectid_eq_1
    # @option opts [Integer] :limit limit parameter define page size (default to 20)
    # @option opts [Integer] :offset offset parameter define page number (default to 0)
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;scope_a&lt;br&gt;sort&#x3D;channel_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;userId_a&lt;br&gt;sort&#x3D;projectId_a
    # @return [APIListOfAPINotification]
    def check_notification_plan_using_get(id, opts = {})
      data, _status_code, _headers = check_notification_plan_using_get_with_http_info(id, opts)
      data
    end

    # Check potential notifications generated by notification plan.
    # @param id id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;scope_eq_all&lt;br&gt;filter&#x3D;channel_eq_slack&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;userid_eq_1&lt;br&gt;filter&#x3D;projectid_eq_1
    # @option opts [Integer] :limit limit parameter define page size
    # @option opts [Integer] :offset offset parameter define page number
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;scope_a&lt;br&gt;sort&#x3D;channel_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;userId_a&lt;br&gt;sort&#x3D;projectId_a
    # @return [Array<(APIListOfAPINotification, Fixnum, Hash)>] APIListOfAPINotification data, response status code and response headers
    def check_notification_plan_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.check_notification_plan_using_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.check_notification_plan_using_get"
      end
      # resource path
      local_var_path = '/api/v2/admin/notification-plans/{id}/check'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIListOfAPINotification')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#check_notification_plan_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create device cleanup configuration.
    # @param content content
    # @param discriminator discriminator
    # @param os_type osType
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :enabled enabled (default to true)
    # @return [APIDeviceCleanupConfiguration]
    def create_device_cleanup_configuration_using_post(content, discriminator, os_type, opts = {})
      data, _status_code, _headers = create_device_cleanup_configuration_using_post_with_http_info(content, discriminator, os_type, opts)
      data
    end

    # Create device cleanup configuration.
    # @param content content
    # @param discriminator discriminator
    # @param os_type osType
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :enabled enabled
    # @return [Array<(APIDeviceCleanupConfiguration, Fixnum, Hash)>] APIDeviceCleanupConfiguration data, response status code and response headers
    def create_device_cleanup_configuration_using_post_with_http_info(content, discriminator, os_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_device_cleanup_configuration_using_post ...'
      end
      # verify the required parameter 'content' is set
      if @api_client.config.client_side_validation && content.nil?
        fail ArgumentError, "Missing the required parameter 'content' when calling AdminApi.create_device_cleanup_configuration_using_post"
      end
      # verify the required parameter 'discriminator' is set
      if @api_client.config.client_side_validation && discriminator.nil?
        fail ArgumentError, "Missing the required parameter 'discriminator' when calling AdminApi.create_device_cleanup_configuration_using_post"
      end
      # verify the required parameter 'os_type' is set
      if @api_client.config.client_side_validation && os_type.nil?
        fail ArgumentError, "Missing the required parameter 'os_type' when calling AdminApi.create_device_cleanup_configuration_using_post"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['IOS', 'ANDROID', 'DESKTOP', 'UNDEFINED'].include?(os_type)
        fail ArgumentError, "invalid value for 'os_type', must be one of IOS, ANDROID, DESKTOP, UNDEFINED"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/cleanup-configurations'

      # query parameters
      query_params = {}
      query_params[:'content'] = content
      query_params[:'discriminator'] = discriminator
      query_params[:'osType'] = os_type
      query_params[:'enabled'] = opts[:'enabled'] if !opts[:'enabled'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceCleanupConfiguration')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_device_cleanup_configuration_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create connection for device session.
    # @param device_session_id deviceSessionId
    # @param host host
    # @param port port
    # @param type type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :password password
    # @return [APIConnection]
    def create_device_session_connection_using_post(device_session_id, host, port, type, opts = {})
      data, _status_code, _headers = create_device_session_connection_using_post_with_http_info(device_session_id, host, port, type, opts)
      data
    end

    # Create connection for device session.
    # @param device_session_id deviceSessionId
    # @param host host
    # @param port port
    # @param type type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :password password
    # @return [Array<(APIConnection, Fixnum, Hash)>] APIConnection data, response status code and response headers
    def create_device_session_connection_using_post_with_http_info(device_session_id, host, port, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_device_session_connection_using_post ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AdminApi.create_device_session_connection_using_post"
      end
      # verify the required parameter 'host' is set
      if @api_client.config.client_side_validation && host.nil?
        fail ArgumentError, "Missing the required parameter 'host' when calling AdminApi.create_device_session_connection_using_post"
      end
      # verify the required parameter 'port' is set
      if @api_client.config.client_side_validation && port.nil?
        fail ArgumentError, "Missing the required parameter 'port' when calling AdminApi.create_device_session_connection_using_post"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling AdminApi.create_device_session_connection_using_post"
      end
      # resource path
      local_var_path = '/api/v2/device-sessions/{deviceSessionId}/connections'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'host'] = host
      query_params[:'port'] = port
      query_params[:'type'] = type
      query_params[:'password'] = opts[:'password'] if !opts[:'password'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIConnection')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_device_session_connection_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create framework.
    # @param content content
    # @param name name
    # @param os_type osType
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id accountId
    # @option opts [BOOLEAN] :add_label_to_devices addLabelToDevices (default to false)
    # @option opts [BOOLEAN] :can_run_from_ui canRunFromUI (default to true)
    # @option opts [String] :description description
    # @option opts [String] :documentation_url documentationUrl
    # @option opts [BOOLEAN] :for_projects forProjects (default to true)
    # @option opts [String] :icon icon
    # @option opts [Integer] :label_id labelId
    # @option opts [String] :required_app_extensions requiredAppExtensions
    # @option opts [String] :required_test_extensions requiredTestExtensions
    # @option opts [String] :required_test_file_tags requiredTestFileTags
    # @option opts [BOOLEAN] :retryable retryable (default to true)
    # @option opts [Array<Integer>] :role_ids roleIds[]
    # @option opts [Integer] :sample_app_id sampleAppId
    # @option opts [Integer] :sample_test_id sampleTestId
    # @option opts [BOOLEAN] :skip_older_sdk skipOlderSdk (default to true)
    # @option opts [BOOLEAN] :skip_queue skipQueue (default to false)
    # @option opts [String] :type type
    # @return [APIFramework]
    def create_framework_using_post(content, name, os_type, opts = {})
      data, _status_code, _headers = create_framework_using_post_with_http_info(content, name, os_type, opts)
      data
    end

    # Create framework.
    # @param content content
    # @param name name
    # @param os_type osType
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id accountId
    # @option opts [BOOLEAN] :add_label_to_devices addLabelToDevices
    # @option opts [BOOLEAN] :can_run_from_ui canRunFromUI
    # @option opts [String] :description description
    # @option opts [String] :documentation_url documentationUrl
    # @option opts [BOOLEAN] :for_projects forProjects
    # @option opts [String] :icon icon
    # @option opts [Integer] :label_id labelId
    # @option opts [String] :required_app_extensions requiredAppExtensions
    # @option opts [String] :required_test_extensions requiredTestExtensions
    # @option opts [String] :required_test_file_tags requiredTestFileTags
    # @option opts [BOOLEAN] :retryable retryable
    # @option opts [Array<Integer>] :role_ids roleIds[]
    # @option opts [Integer] :sample_app_id sampleAppId
    # @option opts [Integer] :sample_test_id sampleTestId
    # @option opts [BOOLEAN] :skip_older_sdk skipOlderSdk
    # @option opts [BOOLEAN] :skip_queue skipQueue
    # @option opts [String] :type type
    # @return [Array<(APIFramework, Fixnum, Hash)>] APIFramework data, response status code and response headers
    def create_framework_using_post_with_http_info(content, name, os_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_framework_using_post ...'
      end
      # verify the required parameter 'content' is set
      if @api_client.config.client_side_validation && content.nil?
        fail ArgumentError, "Missing the required parameter 'content' when calling AdminApi.create_framework_using_post"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.create_framework_using_post"
      end
      # verify the required parameter 'os_type' is set
      if @api_client.config.client_side_validation && os_type.nil?
        fail ArgumentError, "Missing the required parameter 'os_type' when calling AdminApi.create_framework_using_post"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['IOS', 'ANDROID', 'DESKTOP', 'UNDEFINED'].include?(os_type)
        fail ArgumentError, "invalid value for 'os_type', must be one of IOS, ANDROID, DESKTOP, UNDEFINED"
      end
      # resource path
      local_var_path = '/api/v2/admin/frameworks'

      # query parameters
      query_params = {}
      query_params[:'content'] = content
      query_params[:'name'] = name
      query_params[:'osType'] = os_type
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'addLabelToDevices'] = opts[:'add_label_to_devices'] if !opts[:'add_label_to_devices'].nil?
      query_params[:'canRunFromUI'] = opts[:'can_run_from_ui'] if !opts[:'can_run_from_ui'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'documentationUrl'] = opts[:'documentation_url'] if !opts[:'documentation_url'].nil?
      query_params[:'forProjects'] = opts[:'for_projects'] if !opts[:'for_projects'].nil?
      query_params[:'icon'] = opts[:'icon'] if !opts[:'icon'].nil?
      query_params[:'labelId'] = opts[:'label_id'] if !opts[:'label_id'].nil?
      query_params[:'requiredAppExtensions'] = opts[:'required_app_extensions'] if !opts[:'required_app_extensions'].nil?
      query_params[:'requiredTestExtensions'] = opts[:'required_test_extensions'] if !opts[:'required_test_extensions'].nil?
      query_params[:'requiredTestFileTags'] = opts[:'required_test_file_tags'] if !opts[:'required_test_file_tags'].nil?
      query_params[:'retryable'] = opts[:'retryable'] if !opts[:'retryable'].nil?
      query_params[:'roleIds[]'] = @api_client.build_collection_param(opts[:'role_ids'], :multi) if !opts[:'role_ids'].nil?
      query_params[:'sampleAppId'] = opts[:'sample_app_id'] if !opts[:'sample_app_id'].nil?
      query_params[:'sampleTestId'] = opts[:'sample_test_id'] if !opts[:'sample_test_id'].nil?
      query_params[:'skipOlderSdk'] = opts[:'skip_older_sdk'] if !opts[:'skip_older_sdk'].nil?
      query_params[:'skipQueue'] = opts[:'skip_queue'] if !opts[:'skip_queue'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIFramework')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_framework_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create label group.
    # @param display_name displayName
    # @param name name
    # @param [Hash] opts the optional parameters
    # @return [APILabelGroup]
    def create_label_group_using_post(display_name, name, opts = {})
      data, _status_code, _headers = create_label_group_using_post_with_http_info(display_name, name, opts)
      data
    end

    # Create label group.
    # @param display_name displayName
    # @param name name
    # @param [Hash] opts the optional parameters
    # @return [Array<(APILabelGroup, Fixnum, Hash)>] APILabelGroup data, response status code and response headers
    def create_label_group_using_post_with_http_info(display_name, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_label_group_using_post ...'
      end
      # verify the required parameter 'display_name' is set
      if @api_client.config.client_side_validation && display_name.nil?
        fail ArgumentError, "Missing the required parameter 'display_name' when calling AdminApi.create_label_group_using_post"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.create_label_group_using_post"
      end
      # resource path
      local_var_path = '/api/v2/label-groups'

      # query parameters
      query_params = {}
      query_params[:'displayName'] = display_name
      query_params[:'name'] = name

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APILabelGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_label_group_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add label to label group.
    # @param display_name displayName
    # @param group_id groupId
    # @param name name
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceProperty]
    def create_label_using_post(display_name, group_id, name, opts = {})
      data, _status_code, _headers = create_label_using_post_with_http_info(display_name, group_id, name, opts)
      data
    end

    # Add label to label group.
    # @param display_name displayName
    # @param group_id groupId
    # @param name name
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceProperty, Fixnum, Hash)>] APIDeviceProperty data, response status code and response headers
    def create_label_using_post_with_http_info(display_name, group_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_label_using_post ...'
      end
      # verify the required parameter 'display_name' is set
      if @api_client.config.client_side_validation && display_name.nil?
        fail ArgumentError, "Missing the required parameter 'display_name' when calling AdminApi.create_label_using_post"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling AdminApi.create_label_using_post"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.create_label_using_post"
      end
      # resource path
      local_var_path = '/api/v2/label-groups/{groupId}/labels'.sub('{' + 'groupId' + '}', group_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'displayName'] = display_name
      query_params[:'name'] = name

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceProperty')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_label_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create license.
    # @param unit unit
    # @param unit_count unitCount
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :android_device_limit androidDeviceLimit
    # @option opts [BOOLEAN] :android_enabled androidEnabled (default to false)
    # @option opts [Integer] :android_project_limit androidProjectLimit
    # @option opts [BOOLEAN] :build_enabled buildEnabled (default to false)
    # @option opts [Integer] :build_limit buildLimit
    # @option opts [Integer] :desktop_device_limit desktopDeviceLimit
    # @option opts [BOOLEAN] :desktop_enabled desktopEnabled (default to false)
    # @option opts [Integer] :desktop_project_limit desktopProjectLimit
    # @option opts [Integer] :global_device_limit globalDeviceLimit
    # @option opts [Integer] :global_project_limit globalProjectLimit
    # @option opts [BOOLEAN] :inspector_enabled inspectorEnabled (default to false)
    # @option opts [Integer] :ios_device_limit iosDeviceLimit
    # @option opts [BOOLEAN] :ios_enabled iosEnabled (default to false)
    # @option opts [Integer] :ios_project_limit iosProjectLimit
    # @option opts [BOOLEAN] :private_instance privateInstance (default to false)
    # @return [APILicense]
    def create_license_using_post(unit, unit_count, user_id, opts = {})
      data, _status_code, _headers = create_license_using_post_with_http_info(unit, unit_count, user_id, opts)
      data
    end

    # Create license.
    # @param unit unit
    # @param unit_count unitCount
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :android_device_limit androidDeviceLimit
    # @option opts [BOOLEAN] :android_enabled androidEnabled
    # @option opts [Integer] :android_project_limit androidProjectLimit
    # @option opts [BOOLEAN] :build_enabled buildEnabled
    # @option opts [Integer] :build_limit buildLimit
    # @option opts [Integer] :desktop_device_limit desktopDeviceLimit
    # @option opts [BOOLEAN] :desktop_enabled desktopEnabled
    # @option opts [Integer] :desktop_project_limit desktopProjectLimit
    # @option opts [Integer] :global_device_limit globalDeviceLimit
    # @option opts [Integer] :global_project_limit globalProjectLimit
    # @option opts [BOOLEAN] :inspector_enabled inspectorEnabled
    # @option opts [Integer] :ios_device_limit iosDeviceLimit
    # @option opts [BOOLEAN] :ios_enabled iosEnabled
    # @option opts [Integer] :ios_project_limit iosProjectLimit
    # @option opts [BOOLEAN] :private_instance privateInstance
    # @return [Array<(APILicense, Fixnum, Hash)>] APILicense data, response status code and response headers
    def create_license_using_post_with_http_info(unit, unit_count, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_license_using_post ...'
      end
      # verify the required parameter 'unit' is set
      if @api_client.config.client_side_validation && unit.nil?
        fail ArgumentError, "Missing the required parameter 'unit' when calling AdminApi.create_license_using_post"
      end
      # verify the required parameter 'unit_count' is set
      if @api_client.config.client_side_validation && unit_count.nil?
        fail ArgumentError, "Missing the required parameter 'unit_count' when calling AdminApi.create_license_using_post"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminApi.create_license_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/licenses'

      # query parameters
      query_params = {}
      query_params[:'unit'] = unit
      query_params[:'unitCount'] = unit_count
      query_params[:'userId'] = user_id
      query_params[:'androidDeviceLimit'] = opts[:'android_device_limit'] if !opts[:'android_device_limit'].nil?
      query_params[:'androidEnabled'] = opts[:'android_enabled'] if !opts[:'android_enabled'].nil?
      query_params[:'androidProjectLimit'] = opts[:'android_project_limit'] if !opts[:'android_project_limit'].nil?
      query_params[:'buildEnabled'] = opts[:'build_enabled'] if !opts[:'build_enabled'].nil?
      query_params[:'buildLimit'] = opts[:'build_limit'] if !opts[:'build_limit'].nil?
      query_params[:'desktopDeviceLimit'] = opts[:'desktop_device_limit'] if !opts[:'desktop_device_limit'].nil?
      query_params[:'desktopEnabled'] = opts[:'desktop_enabled'] if !opts[:'desktop_enabled'].nil?
      query_params[:'desktopProjectLimit'] = opts[:'desktop_project_limit'] if !opts[:'desktop_project_limit'].nil?
      query_params[:'globalDeviceLimit'] = opts[:'global_device_limit'] if !opts[:'global_device_limit'].nil?
      query_params[:'globalProjectLimit'] = opts[:'global_project_limit'] if !opts[:'global_project_limit'].nil?
      query_params[:'inspectorEnabled'] = opts[:'inspector_enabled'] if !opts[:'inspector_enabled'].nil?
      query_params[:'iosDeviceLimit'] = opts[:'ios_device_limit'] if !opts[:'ios_device_limit'].nil?
      query_params[:'iosEnabled'] = opts[:'ios_enabled'] if !opts[:'ios_enabled'].nil?
      query_params[:'iosProjectLimit'] = opts[:'ios_project_limit'] if !opts[:'ios_project_limit'].nil?
      query_params[:'privateInstance'] = opts[:'private_instance'] if !opts[:'private_instance'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APILicense')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_license_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create notification plan.
    # @param channel channel
    # @param name name
    # @param notification_content notificationContent
    # @param notification_subject notificationSubject
    # @param scope scope
    # @param [Hash] opts the optional parameters
    # @return [APINotificationPlan]
    def create_notification_plan_using_post(channel, name, notification_content, notification_subject, scope, opts = {})
      data, _status_code, _headers = create_notification_plan_using_post_with_http_info(channel, name, notification_content, notification_subject, scope, opts)
      data
    end

    # Create notification plan.
    # @param channel channel
    # @param name name
    # @param notification_content notificationContent
    # @param notification_subject notificationSubject
    # @param scope scope
    # @param [Hash] opts the optional parameters
    # @return [Array<(APINotificationPlan, Fixnum, Hash)>] APINotificationPlan data, response status code and response headers
    def create_notification_plan_using_post_with_http_info(channel, name, notification_content, notification_subject, scope, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_notification_plan_using_post ...'
      end
      # verify the required parameter 'channel' is set
      if @api_client.config.client_side_validation && channel.nil?
        fail ArgumentError, "Missing the required parameter 'channel' when calling AdminApi.create_notification_plan_using_post"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['SLACK', 'EMAIL', 'WEBHOOK'].include?(channel)
        fail ArgumentError, "invalid value for 'channel', must be one of SLACK, EMAIL, WEBHOOK"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.create_notification_plan_using_post"
      end
      # verify the required parameter 'notification_content' is set
      if @api_client.config.client_side_validation && notification_content.nil?
        fail ArgumentError, "Missing the required parameter 'notification_content' when calling AdminApi.create_notification_plan_using_post"
      end
      # verify the required parameter 'notification_subject' is set
      if @api_client.config.client_side_validation && notification_subject.nil?
        fail ArgumentError, "Missing the required parameter 'notification_subject' when calling AdminApi.create_notification_plan_using_post"
      end
      # verify the required parameter 'scope' is set
      if @api_client.config.client_side_validation && scope.nil?
        fail ArgumentError, "Missing the required parameter 'scope' when calling AdminApi.create_notification_plan_using_post"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['ALL', 'TEST_RUN', 'TEST_RUN_FAILURE', 'TEST_RUN_SUCCEEDED', 'MAINTENANCE', 'MAINTENANCE_RELEASE', 'CUSTOM', 'NEWS', 'SYSTEM', 'CHECK', 'PLAN_LIMIT_REACHED', 'PLAN_INVOICE'].include?(scope)
        fail ArgumentError, "invalid value for 'scope', must be one of ALL, TEST_RUN, TEST_RUN_FAILURE, TEST_RUN_SUCCEEDED, MAINTENANCE, MAINTENANCE_RELEASE, CUSTOM, NEWS, SYSTEM, CHECK, PLAN_LIMIT_REACHED, PLAN_INVOICE"
      end
      # resource path
      local_var_path = '/api/v2/admin/notification-plans'

      # query parameters
      query_params = {}
      query_params[:'channel'] = channel
      query_params[:'name'] = name
      query_params[:'notificationContent'] = notification_content
      query_params[:'notificationSubject'] = notification_subject
      query_params[:'scope'] = scope

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APINotificationPlan')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_notification_plan_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create property.
    # @param description description
    # @param name name
    # @param value value
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from_time fromTime
    # @option opts [Integer] :to_time toTime
    # @return [APIProperty]
    def create_property_using_post(description, name, value, opts = {})
      data, _status_code, _headers = create_property_using_post_with_http_info(description, name, value, opts)
      data
    end

    # Create property.
    # @param description description
    # @param name name
    # @param value value
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from_time fromTime
    # @option opts [Integer] :to_time toTime
    # @return [Array<(APIProperty, Fixnum, Hash)>] APIProperty data, response status code and response headers
    def create_property_using_post_with_http_info(description, name, value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_property_using_post ...'
      end
      # verify the required parameter 'description' is set
      if @api_client.config.client_side_validation && description.nil?
        fail ArgumentError, "Missing the required parameter 'description' when calling AdminApi.create_property_using_post"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.create_property_using_post"
      end
      # verify the required parameter 'value' is set
      if @api_client.config.client_side_validation && value.nil?
        fail ArgumentError, "Missing the required parameter 'value' when calling AdminApi.create_property_using_post"
      end
      # resource path
      local_var_path = '/api/v2/properties'

      # query parameters
      query_params = {}
      query_params[:'description'] = description
      query_params[:'name'] = name
      query_params[:'value'] = value
      query_params[:'fromTime'] = opts[:'from_time'] if !opts[:'from_time'].nil?
      query_params[:'toTime'] = opts[:'to_time'] if !opts[:'to_time'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIProperty')
      if @api_client.config.debugging
[...]
