=begin
#BitbarCloud API

#BitbarCloud API

OpenAPI spec version: 3.24.1-master-20231027-124207

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.50
=end

module BitbarCloudApiClient
  class AdminApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Abort device session.
    # @param project_id
    # @param run_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceSession]
    def abort_device_session1(project_id, run_id, device_session_id, opts = {})
      data, _status_code, _headers = abort_device_session1_with_http_info(project_id, run_id, device_session_id, opts)
      data
    end

    # Abort device session.
    # @param project_id
    # @param run_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceSession, Integer, Hash)>] APIDeviceSession data, response status code and response headers
    def abort_device_session1_with_http_info(project_id, run_id, device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.abort_device_session1 ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdminApi.abort_device_session1"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AdminApi.abort_device_session1"
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AdminApi.abort_device_session1"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/device-sessions/{deviceSessionId}/abort'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s).sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceSession'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#abort_device_session1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param project_id
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @return [APITestRun]
    def abort_project_test_run(project_id, run_id, opts = {})
      data, _status_code, _headers = abort_project_test_run_with_http_info(project_id, run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param project_id
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITestRun, Integer, Hash)>] APITestRun data, response status code and response headers
    def abort_project_test_run_with_http_info(project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.abort_project_test_run ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdminApi.abort_project_test_run"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AdminApi.abort_project_test_run"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/abort'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APITestRun'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#abort_project_test_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id
    # @return [APITestRun]
    def abort_test_run(run_id, opts = {})
      data, _status_code, _headers = abort_test_run_with_http_info(run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id
    # @return [Array<(APITestRun, Integer, Hash)>] APITestRun data, response status code and response headers
    def abort_test_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.abort_test_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AdminApi.abort_test_run"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/abort'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APITestRun'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#abort_test_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @return [APIAdminTestRun]
    def abort_test_run1(run_id, opts = {})
      data, _status_code, _headers = abort_test_run1_with_http_info(run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAdminTestRun, Integer, Hash)>] APIAdminTestRun data, response status code and response headers
    def abort_test_run1_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.abort_test_run1 ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AdminApi.abort_test_run1"
      end
      # resource path
      local_var_path = '/api/v2/admin/runs/{runId}/abort'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIAdminTestRun'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#abort_test_run1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate license.
    # @param id
    # @param [Hash] opts the optional parameters
    # @return [APILicense]
    def activate_license(id, opts = {})
      data, _status_code, _headers = activate_license_with_http_info(id, opts)
      data
    end

    # Activate license.
    # @param id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APILicense, Integer, Hash)>] APILicense data, response status code and response headers
    def activate_license_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.activate_license ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AdminApi.activate_license"
      end
      # resource path
      local_var_path = '/api/v2/admin/licenses/{id}/activate'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APILicense'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#activate_license\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate service.
    # @param service_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :activate_time
    # @return [APIService]
    def activate_service(service_id, opts = {})
      data, _status_code, _headers = activate_service_with_http_info(service_id, opts)
      data
    end

    # Activate service.
    # @param service_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :activate_time
    # @return [Array<(APIService, Integer, Hash)>] APIService data, response status code and response headers
    def activate_service_with_http_info(service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.activate_service ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AdminApi.activate_service"
      end
      # resource path
      local_var_path = '/api/v2/admin/services/{serviceId}/activate'.sub('{' + 'serviceId' + '}', service_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'activateTime'] = opts[:'activate_time'] if !opts[:'activate_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIService'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#activate_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate account service.
    # @param account_service_id
    # @param [Hash] opts the optional parameters
    # @return [APIAccountService]
    def activate_user_service(account_service_id, opts = {})
      data, _status_code, _headers = activate_user_service_with_http_info(account_service_id, opts)
      data
    end

    # Activate account service.
    # @param account_service_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAccountService, Integer, Hash)>] APIAccountService data, response status code and response headers
    def activate_user_service_with_http_info(account_service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.activate_user_service ...'
      end
      # verify the required parameter 'account_service_id' is set
      if @api_client.config.client_side_validation && account_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_service_id' when calling AdminApi.activate_user_service"
      end
      # resource path
      local_var_path = '/api/v2/admin/account-services/{accountServiceId}/activate'.sub('{' + 'accountServiceId' + '}', account_service_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIAccountService'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#activate_user_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add device specific cleanup configuration.
    # @param device_id
    # @param device_cleanup_configuration_id
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceCleanupConfiguration]
    def add_device_cleanup_configuration(device_id, device_cleanup_configuration_id, opts = {})
      data, _status_code, _headers = add_device_cleanup_configuration_with_http_info(device_id, device_cleanup_configuration_id, opts)
      data
    end

    # Add device specific cleanup configuration.
    # @param device_id
    # @param device_cleanup_configuration_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceCleanupConfiguration, Integer, Hash)>] APIDeviceCleanupConfiguration data, response status code and response headers
    def add_device_cleanup_configuration_with_http_info(device_id, device_cleanup_configuration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_device_cleanup_configuration ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AdminApi.add_device_cleanup_configuration"
      end
      # verify the required parameter 'device_cleanup_configuration_id' is set
      if @api_client.config.client_side_validation && device_cleanup_configuration_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_cleanup_configuration_id' when calling AdminApi.add_device_cleanup_configuration"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/cleanup-configuration'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceCleanupConfigurationId'] = device_cleanup_configuration_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceCleanupConfiguration'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_device_cleanup_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add label to device.
    # @param device_id
    # @param label_id
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceProperty]
    def add_device_label(device_id, label_id, opts = {})
      data, _status_code, _headers = add_device_label_with_http_info(device_id, label_id, opts)
      data
    end

    # Add label to device.
    # @param device_id
    # @param label_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceProperty, Integer, Hash)>] APIDeviceProperty data, response status code and response headers
    def add_device_label_with_http_info(device_id, label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_device_label ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AdminApi.add_device_label"
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling AdminApi.add_device_label"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/labels'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'labelId'] = label_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceProperty'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_device_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add label to device.
    # @param device_id
    # @param label_id
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceProperty]
    def add_device_label1(device_id, label_id, opts = {})
      data, _status_code, _headers = add_device_label1_with_http_info(device_id, label_id, opts)
      data
    end

    # Add label to device.
    # @param device_id
    # @param label_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceProperty, Integer, Hash)>] APIDeviceProperty data, response status code and response headers
    def add_device_label1_with_http_info(device_id, label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_device_label1 ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AdminApi.add_device_label1"
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling AdminApi.add_device_label1"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/properties'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'labelId'] = label_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceProperty'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_device_label1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create device model criterion.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :field
    # @option opts [Integer] :label_group_id
    # @return [APIMessage]
    def add_device_model_criteria(opts = {})
      data, _status_code, _headers = add_device_model_criteria_with_http_info(opts)
      data
    end

    # Create device model criterion.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :field
    # @option opts [Integer] :label_group_id
    # @return [Array<(APIMessage, Integer, Hash)>] APIMessage data, response status code and response headers
    def add_device_model_criteria_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_device_model_criteria ...'
      end
      if @api_client.config.client_side_validation && opts[:'field'] && !['NAME', 'FINGERPRINT', 'SERIAL_ID', 'UNLOCK_GESTURE', 'SOFTWARE_VERSION', 'INIT_STEP', 'ACCOUNT', 'BROWSERS'].include?(opts[:'field'])
        fail ArgumentError, 'invalid value for "field", must be one of NAME, FINGERPRINT, SERIAL_ID, UNLOCK_GESTURE, SOFTWARE_VERSION, INIT_STEP, ACCOUNT, BROWSERS'
      end
      # resource path
      local_var_path = '/api/v2/admin/device-model-criteria'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'field'] = opts[:'field'] if !opts[:'field'].nil?
      query_params[:'labelGroupId'] = opts[:'label_group_id'] if !opts[:'label_group_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIMessage'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_device_model_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add file to device session.
    # @param name
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [OutputfilesetFilesBody4] :body
    # @option opts [String] :tag
    # @return [APIUserFile]
    def add_device_session_output_file(name, device_session_id, opts = {})
      data, _status_code, _headers = add_device_session_output_file_with_http_info(name, device_session_id, opts)
      data
    end

    # Add file to device session.
    # @param name
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [OutputfilesetFilesBody4] :body
    # @option opts [String] :tag
    # @return [Array<(APIUserFile, Integer, Hash)>] APIUserFile data, response status code and response headers
    def add_device_session_output_file_with_http_info(name, device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_device_session_output_file ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.add_device_session_output_file"
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AdminApi.add_device_session_output_file"
      end
      # resource path
      local_var_path = '/api/v2/device-sessions/{deviceSessionId}/output-file-set/files'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body'])

      return_type = opts[:return_type] || 'APIUserFile'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_device_session_output_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add device to device group.
    # @param device_group_id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :device_id
    # @option opts [Array<Integer>] :device_ids
    # @return [APIDeviceGroup]
    def add_device_to_device_group1(device_group_id, opts = {})
      data, _status_code, _headers = add_device_to_device_group1_with_http_info(device_group_id, opts)
      data
    end

    # Add device to device group.
    # @param device_group_id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :device_id
    # @option opts [Array<Integer>] :device_ids
    # @return [Array<(APIDeviceGroup, Integer, Hash)>] APIDeviceGroup data, response status code and response headers
    def add_device_to_device_group1_with_http_info(device_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_device_to_device_group1 ...'
      end
      # verify the required parameter 'device_group_id' is set
      if @api_client.config.client_side_validation && device_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_group_id' when calling AdminApi.add_device_to_device_group1"
      end
      # resource path
      local_var_path = '/api/v2/device-groups/{deviceGroupId}/devices'.sub('{' + 'deviceGroupId' + '}', device_group_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = @api_client.build_collection_param(opts[:'device_id'], :multi) if !opts[:'device_id'].nil?
      query_params[:'deviceIds[]'] = @api_client.build_collection_param(opts[:'device_ids'], :multi) if !opts[:'device_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceGroup'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_device_to_device_group1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add tag to test run.
    # @param project_id
    # @param run_id
    # @param name
    # @param [Hash] opts the optional parameters
    # @return [APITag]
    def add_project_test_run_tag(project_id, run_id, name, opts = {})
      data, _status_code, _headers = add_project_test_run_tag_with_http_info(project_id, run_id, name, opts)
      data
    end

    # Add tag to test run.
    # @param project_id
    # @param run_id
    # @param name
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITag, Integer, Hash)>] APITag data, response status code and response headers
    def add_project_test_run_tag_with_http_info(project_id, run_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_project_test_run_tag ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AdminApi.add_project_test_run_tag"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AdminApi.add_project_test_run_tag"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.add_project_test_run_tag"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/tags'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APITag'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_project_test_run_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add account role.
    # @param user_id
    # @param role_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :value
    # @option opts [Integer] :expire_time
    # @return [APIRole]
    def add_role_to_account(user_id, role_id, opts = {})
      data, _status_code, _headers = add_role_to_account_with_http_info(user_id, role_id, opts)
      data
    end

    # Add account role.
    # @param user_id
    # @param role_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :value
    # @option opts [Integer] :expire_time
    # @return [Array<(APIRole, Integer, Hash)>] APIRole data, response status code and response headers
    def add_role_to_account_with_http_info(user_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_role_to_account ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminApi.add_role_to_account"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AdminApi.add_role_to_account"
      end
      # resource path
      local_var_path = '/api/v2/admin/users/{userId}/account/roles'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'roleId'] = role_id
      query_params[:'value'] = opts[:'value'] if !opts[:'value'].nil?
      query_params[:'expireTime'] = opts[:'expire_time'] if !opts[:'expire_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIRole'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_role_to_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add selectors to device group.
    # @param device_group_id
    # @param selector_ids
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceGroup]
    def add_selector_to_device_group1(device_group_id, selector_ids, opts = {})
      data, _status_code, _headers = add_selector_to_device_group1_with_http_info(device_group_id, selector_ids, opts)
      data
    end

    # Add selectors to device group.
    # @param device_group_id
    # @param selector_ids
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceGroup, Integer, Hash)>] APIDeviceGroup data, response status code and response headers
    def add_selector_to_device_group1_with_http_info(device_group_id, selector_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_selector_to_device_group1 ...'
      end
      # verify the required parameter 'device_group_id' is set
      if @api_client.config.client_side_validation && device_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_group_id' when calling AdminApi.add_selector_to_device_group1"
      end
      # verify the required parameter 'selector_ids' is set
      if @api_client.config.client_side_validation && selector_ids.nil?
        fail ArgumentError, "Missing the required parameter 'selector_ids' when calling AdminApi.add_selector_to_device_group1"
      end
      # resource path
      local_var_path = '/api/v2/device-groups/{deviceGroupId}/selectors'.sub('{' + 'deviceGroupId' + '}', device_group_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'selectorIds[]'] = @api_client.build_collection_param(selector_ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceGroup'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_selector_to_device_group1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add service to user.
    # @param user_id
    # @param service_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count  (default to 1)
    # @option opts [Integer] :end_time
    # @return [APIAccountService]
    def add_service_to_user(user_id, service_id, opts = {})
      data, _status_code, _headers = add_service_to_user_with_http_info(user_id, service_id, opts)
      data
    end

    # Add service to user.
    # @param user_id
    # @param service_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count
    # @option opts [Integer] :end_time
    # @return [Array<(APIAccountService, Integer, Hash)>] APIAccountService data, response status code and response headers
    def add_service_to_user_with_http_info(user_id, service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_service_to_user ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminApi.add_service_to_user"
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AdminApi.add_service_to_user"
      end
      # resource path
      local_var_path = '/api/v2/admin/users/{userId}/account-services'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'serviceId'] = service_id
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIAccountService'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_service_to_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add tag to test run.
    # @param run_id
    # @param name
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id
    # @return [APITag]
    def add_test_run_tag1(run_id, name, opts = {})
      data, _status_code, _headers = add_test_run_tag1_with_http_info(run_id, name, opts)
      data
    end

    # Add tag to test run.
    # @param run_id
    # @param name
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id
    # @return [Array<(APITag, Integer, Hash)>] APITag data, response status code and response headers
    def add_test_run_tag1_with_http_info(run_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_test_run_tag1 ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AdminApi.add_test_run_tag1"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.add_test_run_tag1"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/tags'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APITag'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_test_run_tag1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add user to access group.
    # @param access_group_id
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def add_user1(access_group_id, email, opts = {})
      data, _status_code, _headers = add_user1_with_http_info(access_group_id, email, opts)
      data
    end

    # Add user to access group.
    # @param access_group_id
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def add_user1_with_http_info(access_group_id, email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.add_user1 ...'
      end
      # verify the required parameter 'access_group_id' is set
      if @api_client.config.client_side_validation && access_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'access_group_id' when calling AdminApi.add_user1"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AdminApi.add_user1"
      end
      # resource path
      local_var_path = '/api/v2/access-groups/{accessGroupId}/users'.sub('{' + 'accessGroupId' + '}', access_group_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#add_user1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Archive service.
    # @param service_id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def archive_service(service_id, opts = {})
      archive_service_with_http_info(service_id, opts)
      nil
    end

    # Archive service.
    # @param service_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def archive_service_with_http_info(service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.archive_service ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AdminApi.archive_service"
      end
      # resource path
      local_var_path = '/api/v2/admin/services/{serviceId}'.sub('{' + 'serviceId' + '}', service_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type]

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#archive_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create property banning application.
    # @param test_run_id
    # @param [Hash] opts the optional parameters
    # @return [APIProperty]
    def ban_application(test_run_id, opts = {})
      data, _status_code, _headers = ban_application_with_http_info(test_run_id, opts)
      data
    end

    # Create property banning application.
    # @param test_run_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIProperty, Integer, Hash)>] APIProperty data, response status code and response headers
    def ban_application_with_http_info(test_run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.ban_application ...'
      end
      # verify the required parameter 'test_run_id' is set
      if @api_client.config.client_side_validation && test_run_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_run_id' when calling AdminApi.ban_application"
      end
      # resource path
      local_var_path = '/api/v2/properties/app-bans'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'testRunId'] = test_run_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIProperty'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#ban_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create property banning email domain.
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [APIProperty]
    def ban_email_domain(email, opts = {})
      data, _status_code, _headers = ban_email_domain_with_http_info(email, opts)
      data
    end

    # Create property banning email domain.
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIProperty, Integer, Hash)>] APIProperty data, response status code and response headers
    def ban_email_domain_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.ban_email_domain ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AdminApi.ban_email_domain"
      end
      # resource path
      local_var_path = '/api/v2/properties/email-bans'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIProperty'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#ban_email_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Start blinking device screen.
    # @param device_id
    # @param [Hash] opts the optional parameters
    # @return [APIAdminDevice]
    def blink(device_id, opts = {})
      data, _status_code, _headers = blink_with_http_info(device_id, opts)
      data
    end

    # Start blinking device screen.
    # @param device_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAdminDevice, Integer, Hash)>] APIAdminDevice data, response status code and response headers
    def blink_with_http_info(device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.blink ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AdminApi.blink"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/blink'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIAdminDevice'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#blink\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update service price.
    # @param service_id
    # @param cent_price
    # @param [Hash] opts the optional parameters
    # @return [APIService]
    def change_service_price(service_id, cent_price, opts = {})
      data, _status_code, _headers = change_service_price_with_http_info(service_id, cent_price, opts)
      data
    end

    # Update service price.
    # @param service_id
    # @param cent_price
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIService, Integer, Hash)>] APIService data, response status code and response headers
    def change_service_price_with_http_info(service_id, cent_price, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.change_service_price ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AdminApi.change_service_price"
      end
      # verify the required parameter 'cent_price' is set
      if @api_client.config.client_side_validation && cent_price.nil?
        fail ArgumentError, "Missing the required parameter 'cent_price' when calling AdminApi.change_service_price"
      end
      # resource path
      local_var_path = '/api/v2/admin/services/{serviceId}/change-price'.sub('{' + 'serviceId' + '}', service_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'centPrice'] = cent_price

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIService'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#change_service_price\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create access group.
    # @param name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :scope  (default to USER)
    # @option opts [Integer] :user_id
    # @return [APIAccessGroup]
    def create1(name, opts = {})
      data, _status_code, _headers = create1_with_http_info(name, opts)
      data
    end

    # Create access group.
    # @param name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :scope
    # @option opts [Integer] :user_id
    # @return [Array<(APIAccessGroup, Integer, Hash)>] APIAccessGroup data, response status code and response headers
    def create1_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create1 ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.create1"
      end
      if @api_client.config.client_side_validation && opts[:'scope'] && !['USER', 'ACCOUNT', 'GLOBAL'].include?(opts[:'scope'])
        fail ArgumentError, 'invalid value for "scope", must be one of USER, ACCOUNT, GLOBAL'
      end
      # resource path
      local_var_path = '/api/v2/access-groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'scope'] = opts[:'scope'] if !opts[:'scope'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIAccessGroup'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create browser.
    # @param name
    # @param display_name
    # @param version
    # @param os_type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :architecture
    # @option opts [String] :install_url
    # @return [APIBrowser]
    def create_browser(name, display_name, version, os_type, opts = {})
      data, _status_code, _headers = create_browser_with_http_info(name, display_name, version, os_type, opts)
      data
    end

    # Create browser.
    # @param name
    # @param display_name
    # @param version
    # @param os_type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :architecture
    # @option opts [String] :install_url
    # @return [Array<(APIBrowser, Integer, Hash)>] APIBrowser data, response status code and response headers
    def create_browser_with_http_info(name, display_name, version, os_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_browser ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.create_browser"
      end
      # verify the required parameter 'display_name' is set
      if @api_client.config.client_side_validation && display_name.nil?
        fail ArgumentError, "Missing the required parameter 'display_name' when calling AdminApi.create_browser"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AdminApi.create_browser"
      end
      # verify the required parameter 'os_type' is set
      if @api_client.config.client_side_validation && os_type.nil?
        fail ArgumentError, "Missing the required parameter 'os_type' when calling AdminApi.create_browser"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['IOS', 'ANDROID', 'DESKTOP', 'UNDEFINED'].include?(os_type)
        fail ArgumentError, "invalid value for 'os_type', must be one of IOS, ANDROID, DESKTOP, UNDEFINED"
      end
      # resource path
      local_var_path = '/api/v2/admin/browsers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'displayName'] = display_name
      query_params[:'version'] = version
      query_params[:'osType'] = os_type
      query_params[:'architecture'] = opts[:'architecture'] if !opts[:'architecture'].nil?
      query_params[:'installUrl'] = opts[:'install_url'] if !opts[:'install_url'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIBrowser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_browser\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create device cleanup configuration.
    # @param content
    # @param os_type
    # @param discriminator
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :enabled  (default to true)
    # @return [APIDeviceCleanupConfiguration]
    def create_device_cleanup_configuration(content, os_type, discriminator, opts = {})
      data, _status_code, _headers = create_device_cleanup_configuration_with_http_info(content, os_type, discriminator, opts)
      data
    end

    # Create device cleanup configuration.
    # @param content
    # @param os_type
    # @param discriminator
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :enabled
    # @return [Array<(APIDeviceCleanupConfiguration, Integer, Hash)>] APIDeviceCleanupConfiguration data, response status code and response headers
    def create_device_cleanup_configuration_with_http_info(content, os_type, discriminator, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_device_cleanup_configuration ...'
      end
      # verify the required parameter 'content' is set
      if @api_client.config.client_side_validation && content.nil?
        fail ArgumentError, "Missing the required parameter 'content' when calling AdminApi.create_device_cleanup_configuration"
      end
      # verify the required parameter 'os_type' is set
      if @api_client.config.client_side_validation && os_type.nil?
        fail ArgumentError, "Missing the required parameter 'os_type' when calling AdminApi.create_device_cleanup_configuration"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['IOS', 'ANDROID', 'DESKTOP', 'UNDEFINED'].include?(os_type)
        fail ArgumentError, "invalid value for 'os_type', must be one of IOS, ANDROID, DESKTOP, UNDEFINED"
      end
      # verify the required parameter 'discriminator' is set
      if @api_client.config.client_side_validation && discriminator.nil?
        fail ArgumentError, "Missing the required parameter 'discriminator' when calling AdminApi.create_device_cleanup_configuration"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/cleanup-configurations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'content'] = content
      query_params[:'osType'] = os_type
      query_params[:'discriminator'] = discriminator
      query_params[:'enabled'] = opts[:'enabled'] if !opts[:'enabled'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceCleanupConfiguration'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_device_cleanup_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create connection for device session.
    # @param device_session_id
    # @param host
    # @param port
    # @param type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :password
    # @return [APIConnection]
    def create_device_session_connection1(device_session_id, host, port, type, opts = {})
      data, _status_code, _headers = create_device_session_connection1_with_http_info(device_session_id, host, port, type, opts)
      data
    end

    # Create connection for device session.
    # @param device_session_id
    # @param host
    # @param port
    # @param type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :password
    # @return [Array<(APIConnection, Integer, Hash)>] APIConnection data, response status code and response headers
    def create_device_session_connection1_with_http_info(device_session_id, host, port, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_device_session_connection1 ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AdminApi.create_device_session_connection1"
      end
      # verify the required parameter 'host' is set
      if @api_client.config.client_side_validation && host.nil?
        fail ArgumentError, "Missing the required parameter 'host' when calling AdminApi.create_device_session_connection1"
      end
      # verify the required parameter 'port' is set
      if @api_client.config.client_side_validation && port.nil?
        fail ArgumentError, "Missing the required parameter 'port' when calling AdminApi.create_device_session_connection1"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling AdminApi.create_device_session_connection1"
      end
      # resource path
      local_var_path = '/api/v2/device-sessions/{deviceSessionId}/connections'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'host'] = host
      query_params[:'port'] = port
      query_params[:'type'] = type
      query_params[:'password'] = opts[:'password'] if !opts[:'password'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIConnection'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_device_session_connection1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create file property.
    # @param file_id
    # @param key
    # @param value
    # @param [Hash] opts the optional parameters
    # @return [APIUserFileProperty]
    def create_file_property(file_id, key, value, opts = {})
      data, _status_code, _headers = create_file_property_with_http_info(file_id, key, value, opts)
      data
    end

    # Create file property.
    # @param file_id
    # @param key
    # @param value
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUserFileProperty, Integer, Hash)>] APIUserFileProperty data, response status code and response headers
    def create_file_property_with_http_info(file_id, key, value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_file_property ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling AdminApi.create_file_property"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling AdminApi.create_file_property"
      end
      # verify the required parameter 'value' is set
      if @api_client.config.client_side_validation && value.nil?
        fail ArgumentError, "Missing the required parameter 'value' when calling AdminApi.create_file_property"
      end
      # resource path
      local_var_path = '/api/v2/files/{fileId}/properties'.sub('{' + 'fileId' + '}', file_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'key'] = key
      query_params[:'value'] = value

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUserFileProperty'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_file_property\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create framework.
    # @param name
    # @param os_type
    # @param content
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description
    # @option opts [String] :required_app_extensions
    # @option opts [String] :required_test_extensions
    # @option opts [String] :required_test_file_tags
    # @option opts [String] :documentation_url
    # @option opts [BOOLEAN] :for_projects  (default to true)
    # @option opts [BOOLEAN] :can_run_from_ui  (default to true)
    # @option opts [BOOLEAN] :retryable  (default to true)
    # @option opts [BOOLEAN] :skip_queue  (default to false)
    # @option opts [BOOLEAN] :skip_older_sdk  (default to true)
    # @option opts [String] :type
    # @option opts [Integer] :account_id
    # @option opts [Integer] :label_id
    # @option opts [BOOLEAN] :add_label_to_devices  (default to false)
    # @option opts [Array<Integer>] :role_ids
    # @option opts [Integer] :sample_app_id
    # @option opts [Integer] :sample_test_id
    # @option opts [String] :icon
    # @return [APIFramework]
    def create_framework(name, os_type, content, opts = {})
      data, _status_code, _headers = create_framework_with_http_info(name, os_type, content, opts)
      data
    end

    # Create framework.
    # @param name
    # @param os_type
    # @param content
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description
    # @option opts [String] :required_app_extensions
    # @option opts [String] :required_test_extensions
    # @option opts [String] :required_test_file_tags
    # @option opts [String] :documentation_url
    # @option opts [BOOLEAN] :for_projects
    # @option opts [BOOLEAN] :can_run_from_ui
    # @option opts [BOOLEAN] :retryable
    # @option opts [BOOLEAN] :skip_queue
    # @option opts [BOOLEAN] :skip_older_sdk
    # @option opts [String] :type
    # @option opts [Integer] :account_id
    # @option opts [Integer] :label_id
    # @option opts [BOOLEAN] :add_label_to_devices
    # @option opts [Array<Integer>] :role_ids
    # @option opts [Integer] :sample_app_id
    # @option opts [Integer] :sample_test_id
    # @option opts [String] :icon
    # @return [Array<(APIFramework, Integer, Hash)>] APIFramework data, response status code and response headers
    def create_framework_with_http_info(name, os_type, content, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_framework ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.create_framework"
      end
      # verify the required parameter 'os_type' is set
      if @api_client.config.client_side_validation && os_type.nil?
        fail ArgumentError, "Missing the required parameter 'os_type' when calling AdminApi.create_framework"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['IOS', 'ANDROID', 'DESKTOP', 'UNDEFINED'].include?(os_type)
        fail ArgumentError, "invalid value for 'os_type', must be one of IOS, ANDROID, DESKTOP, UNDEFINED"
      end
      # verify the required parameter 'content' is set
      if @api_client.config.client_side_validation && content.nil?
        fail ArgumentError, "Missing the required parameter 'content' when calling AdminApi.create_framework"
      end
      # resource path
      local_var_path = '/api/v2/admin/frameworks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'osType'] = os_type
      query_params[:'content'] = content
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'requiredAppExtensions'] = opts[:'required_app_extensions'] if !opts[:'required_app_extensions'].nil?
      query_params[:'requiredTestExtensions'] = opts[:'required_test_extensions'] if !opts[:'required_test_extensions'].nil?
      query_params[:'requiredTestFileTags'] = opts[:'required_test_file_tags'] if !opts[:'required_test_file_tags'].nil?
      query_params[:'documentationUrl'] = opts[:'documentation_url'] if !opts[:'documentation_url'].nil?
      query_params[:'forProjects'] = opts[:'for_projects'] if !opts[:'for_projects'].nil?
      query_params[:'canRunFromUI'] = opts[:'can_run_from_ui'] if !opts[:'can_run_from_ui'].nil?
      query_params[:'retryable'] = opts[:'retryable'] if !opts[:'retryable'].nil?
      query_params[:'skipQueue'] = opts[:'skip_queue'] if !opts[:'skip_queue'].nil?
      query_params[:'skipOlderSdk'] = opts[:'skip_older_sdk'] if !opts[:'skip_older_sdk'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'labelId'] = opts[:'label_id'] if !opts[:'label_id'].nil?
      query_params[:'addLabelToDevices'] = opts[:'add_label_to_devices'] if !opts[:'add_label_to_devices'].nil?
      query_params[:'roleIds[]'] = @api_client.build_collection_param(opts[:'role_ids'], :multi) if !opts[:'role_ids'].nil?
      query_params[:'sampleAppId'] = opts[:'sample_app_id'] if !opts[:'sample_app_id'].nil?
      query_params[:'sampleTestId'] = opts[:'sample_test_id'] if !opts[:'sample_test_id'].nil?
      query_params[:'icon'] = opts[:'icon'] if !opts[:'icon'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIFramework'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_framework\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add label to label group.
    # @param group_id
    # @param name
    # @param display_name
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceProperty]
    def create_label(group_id, name, display_name, opts = {})
      data, _status_code, _headers = create_label_with_http_info(group_id, name, display_name, opts)
      data
    end

    # Add label to label group.
    # @param group_id
    # @param name
    # @param display_name
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceProperty, Integer, Hash)>] APIDeviceProperty data, response status code and response headers
    def create_label_with_http_info(group_id, name, display_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_label ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling AdminApi.create_label"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.create_label"
      end
      # verify the required parameter 'display_name' is set
      if @api_client.config.client_side_validation && display_name.nil?
        fail ArgumentError, "Missing the required parameter 'display_name' when calling AdminApi.create_label"
      end
      # resource path
      local_var_path = '/api/v2/label-groups/{groupId}/labels'.sub('{' + 'groupId' + '}', group_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'displayName'] = display_name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceProperty'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create label group.
    # @param name
    # @param display_name
    # @param [Hash] opts the optional parameters
    # @return [APILabelGroup]
    def create_label_group(name, display_name, opts = {})
      data, _status_code, _headers = create_label_group_with_http_info(name, display_name, opts)
      data
    end

    # Create label group.
    # @param name
    # @param display_name
    # @param [Hash] opts the optional parameters
    # @return [Array<(APILabelGroup, Integer, Hash)>] APILabelGroup data, response status code and response headers
    def create_label_group_with_http_info(name, display_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_label_group ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.create_label_group"
      end
      # verify the required parameter 'display_name' is set
      if @api_client.config.client_side_validation && display_name.nil?
        fail ArgumentError, "Missing the required parameter 'display_name' when calling AdminApi.create_label_group"
      end
      # resource path
      local_var_path = '/api/v2/label-groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'displayName'] = display_name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APILabelGroup'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_label_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create license.
    # @param user_id
    # @param unit
    # @param unit_count
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :android_enabled  (default to false)
    # @option opts [Integer] :android_device_limit
    # @option opts [Integer] :android_project_limit
    # @option opts [BOOLEAN] :inspector_enabled  (default to false)
    # @option opts [BOOLEAN] :ios_enabled  (default to false)
    # @option opts [Integer] :ios_device_limit
    # @option opts [Integer] :ios_project_limit
    # @option opts [BOOLEAN] :private_instance  (default to false)
    # @option opts [BOOLEAN] :build_enabled  (default to false)
    # @option opts [Integer] :build_limit
    # @option opts [BOOLEAN] :desktop_enabled  (default to false)
    # @option opts [Integer] :desktop_device_limit
    # @option opts [Integer] :desktop_project_limit
    # @option opts [Integer] :global_device_limit
    # @option opts [Integer] :global_project_limit
    # @return [APILicense]
    def create_license(user_id, unit, unit_count, opts = {})
      data, _status_code, _headers = create_license_with_http_info(user_id, unit, unit_count, opts)
      data
    end

    # Create license.
    # @param user_id
    # @param unit
    # @param unit_count
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :android_enabled
    # @option opts [Integer] :android_device_limit
    # @option opts [Integer] :android_project_limit
    # @option opts [BOOLEAN] :inspector_enabled
    # @option opts [BOOLEAN] :ios_enabled
    # @option opts [Integer] :ios_device_limit
    # @option opts [Integer] :ios_project_limit
    # @option opts [BOOLEAN] :private_instance
    # @option opts [BOOLEAN] :build_enabled
    # @option opts [Integer] :build_limit
    # @option opts [BOOLEAN] :desktop_enabled
    # @option opts [Integer] :desktop_device_limit
    # @option opts [Integer] :desktop_project_limit
    # @option opts [Integer] :global_device_limit
    # @option opts [Integer] :global_project_limit
    # @return [Array<(APILicense, Integer, Hash)>] APILicense data, response status code and response headers
    def create_license_with_http_info(user_id, unit, unit_count, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_license ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AdminApi.create_license"
      end
      # verify the required parameter 'unit' is set
      if @api_client.config.client_side_validation && unit.nil?
        fail ArgumentError, "Missing the required parameter 'unit' when calling AdminApi.create_license"
      end
      # verify the required parameter 'unit_count' is set
      if @api_client.config.client_side_validation && unit_count.nil?
        fail ArgumentError, "Missing the required parameter 'unit_count' when calling AdminApi.create_license"
      end
      # resource path
      local_var_path = '/api/v2/admin/licenses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userId'] = user_id
      query_params[:'unit'] = unit
      query_params[:'unitCount'] = unit_count
      query_params[:'androidEnabled'] = opts[:'android_enabled'] if !opts[:'android_enabled'].nil?
      query_params[:'androidDeviceLimit'] = opts[:'android_device_limit'] if !opts[:'android_device_limit'].nil?
      query_params[:'androidProjectLimit'] = opts[:'android_project_limit'] if !opts[:'android_project_limit'].nil?
      query_params[:'inspectorEnabled'] = opts[:'inspector_enabled'] if !opts[:'inspector_enabled'].nil?
      query_params[:'iosEnabled'] = opts[:'ios_enabled'] if !opts[:'ios_enabled'].nil?
      query_params[:'iosDeviceLimit'] = opts[:'ios_device_limit'] if !opts[:'ios_device_limit'].nil?
      query_params[:'iosProjectLimit'] = opts[:'ios_project_limit'] if !opts[:'ios_project_limit'].nil?
      query_params[:'privateInstance'] = opts[:'private_instance'] if !opts[:'private_instance'].nil?
      query_params[:'buildEnabled'] = opts[:'build_enabled'] if !opts[:'build_enabled'].nil?
      query_params[:'buildLimit'] = opts[:'build_limit'] if !opts[:'build_limit'].nil?
      query_params[:'desktopEnabled'] = opts[:'desktop_enabled'] if !opts[:'desktop_enabled'].nil?
      query_params[:'desktopDeviceLimit'] = opts[:'desktop_device_limit'] if !opts[:'desktop_device_limit'].nil?
      query_params[:'desktopProjectLimit'] = opts[:'desktop_project_limit'] if !opts[:'desktop_project_limit'].nil?
      query_params[:'globalDeviceLimit'] = opts[:'global_device_limit'] if !opts[:'global_device_limit'].nil?
      query_params[:'globalProjectLimit'] = opts[:'global_project_limit'] if !opts[:'global_project_limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APILicense'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_license\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create property.
    # @param name
    # @param value
    # @param description
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from_time
    # @option opts [Integer] :to_time
    # @return [APIProperty]
    def create_property(name, value, description, opts = {})
      data, _status_code, _headers = create_property_with_http_info(name, value, description, opts)
      data
    end

    # Create property.
    # @param name
    # @param value
    # @param description
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from_time
    # @option opts [Integer] :to_time
    # @return [Array<(APIProperty, Integer, Hash)>] APIProperty data, response status code and response headers
    def create_property_with_http_info(name, value, description, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_property ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AdminApi.create_property"
      end
      # verify the required parameter 'value' is set
      if @api_client.config.client_side_validation && value.nil?
        fail ArgumentError, "Missing the required parameter 'value' when calling AdminApi.create_property"
      end
      # verify the required parameter 'description' is set
      if @api_client.config.client_side_validation && description.nil?
        fail ArgumentError, "Missing the required parameter 'description' when calling AdminApi.create_property"
      end
      # resource path
      local_var_path = '/api/v2/properties'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'value'] = value
      query_params[:'description'] = description
      query_params[:'fromTime'] = opts[:'from_time'] if !opts[:'from_time'].nil?
      query_params[:'toTime'] = opts[:'to_time'] if !opts[:'to_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIProperty'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_property\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update the service.
    # @param body
    # @param [Hash] opts the optional parameters
    # @return [APIService]
    def create_service(body, opts = {})
      data, _status_code, _headers = create_service_with_http_info(body, opts)
      data
    end

    # Create or update the service.
    # @param body
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIService, Integer, Hash)>] APIService data, response status code and response headers
    def create_service_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdminApi.create_service ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AdminApi.create_service"
      end
      # resource path
      local_var_path = '/api/v2/admin/services'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body)

      return_type = opts[:return_type] || 'APIService'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdminApi#create_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create user.
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def create_user(email, opts = {})
      data, _status_code, _headers = create_user_with_http_info(email, opts)
      data
    end

    # Create user.
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def create_user_with_http_info(email, opts = {})
      if @api_client.config.debugging
[...]
