=begin
#BitbarCloud API

#BitbarCloud API.

OpenAPI spec version: 2.100.0
Contact: damian.sniezek@smartbear.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.13

=end

require 'uri'

module BitbarCloudApiClient
  class AllEndpointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Abort test run and receive partial results.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [APITestRun]
    def abort_project_test_run_using_post(project_id, run_id, opts = {})
      data, _status_code, _headers = abort_project_test_run_using_post_with_http_info(project_id, run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITestRun, Fixnum, Hash)>] APITestRun data, response status code and response headers
    def abort_project_test_run_using_post_with_http_info(project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.abort_project_test_run_using_post ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AllEndpointsApi.abort_project_test_run_using_post"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.abort_project_test_run_using_post"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/abort'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITestRun')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#abort_project_test_run_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [APIAdminTestRun]
    def abort_test_run_using_post(run_id, opts = {})
      data, _status_code, _headers = abort_test_run_using_post_with_http_info(run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAdminTestRun, Fixnum, Hash)>] APIAdminTestRun data, response status code and response headers
    def abort_test_run_using_post_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.abort_test_run_using_post ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.abort_test_run_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/runs/{runId}/abort'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIAdminTestRun')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#abort_test_run_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [APITestRun]
    def abort_test_run_using_post1(run_id, opts = {})
      data, _status_code, _headers = abort_test_run_using_post1_with_http_info(run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [Array<(APITestRun, Fixnum, Hash)>] APITestRun data, response status code and response headers
    def abort_test_run_using_post1_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.abort_test_run_using_post1 ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.abort_test_run_using_post1"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/abort'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITestRun')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#abort_test_run_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param project_id projectId
    # @param run_id runId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [APITestRun]
    def abort_user_test_run_using_post(project_id, run_id, user_id, opts = {})
      data, _status_code, _headers = abort_user_test_run_using_post_with_http_info(project_id, run_id, user_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param project_id projectId
    # @param run_id runId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITestRun, Fixnum, Hash)>] APITestRun data, response status code and response headers
    def abort_user_test_run_using_post_with_http_info(project_id, run_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.abort_user_test_run_using_post ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AllEndpointsApi.abort_user_test_run_using_post"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.abort_user_test_run_using_post"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.abort_user_test_run_using_post"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/runs/{runId}/abort'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITestRun')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#abort_user_test_run_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate license.
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [APILicense]
    def activate_license_using_post(id, opts = {})
      data, _status_code, _headers = activate_license_using_post_with_http_info(id, opts)
      data
    end

    # Activate license.
    # @param id id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APILicense, Fixnum, Hash)>] APILicense data, response status code and response headers
    def activate_license_using_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.activate_license_using_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AllEndpointsApi.activate_license_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/licenses/{id}/activate'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APILicense')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#activate_license_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate service.
    # @param service_id serviceId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :activate_time activateTime
    # @return [APIService]
    def activate_service_using_post(service_id, opts = {})
      data, _status_code, _headers = activate_service_using_post_with_http_info(service_id, opts)
      data
    end

    # Activate service.
    # @param service_id serviceId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :activate_time activateTime
    # @return [Array<(APIService, Fixnum, Hash)>] APIService data, response status code and response headers
    def activate_service_using_post_with_http_info(service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.activate_service_using_post ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AllEndpointsApi.activate_service_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/services/{serviceId}/activate'.sub('{' + 'serviceId' + '}', service_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'activateTime'] = opts[:'activate_time'] if !opts[:'activate_time'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIService')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#activate_service_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate account service.
    # @param account_service_id accountServiceId
    # @param [Hash] opts the optional parameters
    # @return [APIAccountService]
    def activate_user_service_using_post(account_service_id, opts = {})
      data, _status_code, _headers = activate_user_service_using_post_with_http_info(account_service_id, opts)
      data
    end

    # Activate account service.
    # @param account_service_id accountServiceId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAccountService, Fixnum, Hash)>] APIAccountService data, response status code and response headers
    def activate_user_service_using_post_with_http_info(account_service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.activate_user_service_using_post ...'
      end
      # verify the required parameter 'account_service_id' is set
      if @api_client.config.client_side_validation && account_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_service_id' when calling AllEndpointsApi.activate_user_service_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/account-services/{accountServiceId}/activate'.sub('{' + 'accountServiceId' + '}', account_service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIAccountService')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#activate_user_service_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate user after registration.
    # @param email email
    # @param key key
    # @param password password
    # @param [Hash] opts the optional parameters
    # @option opts [String] :address address
    # @option opts [String] :city city
    # @option opts [String] :country country
    # @option opts [String] :first_name firstName
    # @option opts [String] :last_name lastName
    # @option opts [String] :organization organization
    # @option opts [String] :phone phone
    # @option opts [String] :state state
    # @option opts [String] :vat_id vatId
    # @option opts [String] :zip zip
    # @return [APIUser]
    def activate_using_post(email, key, password, opts = {})
      data, _status_code, _headers = activate_using_post_with_http_info(email, key, password, opts)
      data
    end

    # Activate user after registration.
    # @param email email
    # @param key key
    # @param password password
    # @param [Hash] opts the optional parameters
    # @option opts [String] :address address
    # @option opts [String] :city city
    # @option opts [String] :country country
    # @option opts [String] :first_name firstName
    # @option opts [String] :last_name lastName
    # @option opts [String] :organization organization
    # @option opts [String] :phone phone
    # @option opts [String] :state state
    # @option opts [String] :vat_id vatId
    # @option opts [String] :zip zip
    # @return [Array<(APIUser, Fixnum, Hash)>] APIUser data, response status code and response headers
    def activate_using_post_with_http_info(email, key, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.activate_using_post ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AllEndpointsApi.activate_using_post"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling AllEndpointsApi.activate_using_post"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling AllEndpointsApi.activate_using_post"
      end
      # resource path
      local_var_path = '/api/v2/users/activate'

      # query parameters
      query_params = {}
      query_params[:'email'] = email
      query_params[:'key'] = key
      query_params[:'password'] = password
      query_params[:'address'] = opts[:'address'] if !opts[:'address'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'firstName'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'lastName'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'organization'] = opts[:'organization'] if !opts[:'organization'].nil?
      query_params[:'phone'] = opts[:'phone'] if !opts[:'phone'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'vatId'] = opts[:'vat_id'] if !opts[:'vat_id'].nil?
      query_params[:'zip'] = opts[:'zip'] if !opts[:'zip'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIUser')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#activate_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add additional user.
    # @param email email
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :password password
    # @return [APIUser]
    def add_additional_user_using_post(email, user_id, opts = {})
      data, _status_code, _headers = add_additional_user_using_post_with_http_info(email, user_id, opts)
      data
    end

    # Add additional user.
    # @param email email
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :password password
    # @return [Array<(APIUser, Fixnum, Hash)>] APIUser data, response status code and response headers
    def add_additional_user_using_post_with_http_info(email, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_additional_user_using_post ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AllEndpointsApi.add_additional_user_using_post"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_additional_user_using_post"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/account/additional-users'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'email'] = email
      query_params[:'password'] = opts[:'password'] if !opts[:'password'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIUser')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_additional_user_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add device specific cleanup configuration.
    # @param device_cleanup_configuration_id deviceCleanupConfigurationId
    # @param device_id deviceId
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceCleanupConfiguration]
    def add_device_cleanup_configuration_using_post(device_cleanup_configuration_id, device_id, opts = {})
      data, _status_code, _headers = add_device_cleanup_configuration_using_post_with_http_info(device_cleanup_configuration_id, device_id, opts)
      data
    end

    # Add device specific cleanup configuration.
    # @param device_cleanup_configuration_id deviceCleanupConfigurationId
    # @param device_id deviceId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceCleanupConfiguration, Fixnum, Hash)>] APIDeviceCleanupConfiguration data, response status code and response headers
    def add_device_cleanup_configuration_using_post_with_http_info(device_cleanup_configuration_id, device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_cleanup_configuration_using_post ...'
      end
      # verify the required parameter 'device_cleanup_configuration_id' is set
      if @api_client.config.client_side_validation && device_cleanup_configuration_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_cleanup_configuration_id' when calling AllEndpointsApi.add_device_cleanup_configuration_using_post"
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AllEndpointsApi.add_device_cleanup_configuration_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/cleanup-configuration'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'deviceCleanupConfigurationId'] = device_cleanup_configuration_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceCleanupConfiguration')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_cleanup_configuration_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add label to device.
    # @param device_id deviceId
    # @param label_id labelId
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceProperty]
    def add_device_label_using_post(device_id, label_id, opts = {})
      data, _status_code, _headers = add_device_label_using_post_with_http_info(device_id, label_id, opts)
      data
    end

    # Add label to device.
    # @param device_id deviceId
    # @param label_id labelId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceProperty, Fixnum, Hash)>] APIDeviceProperty data, response status code and response headers
    def add_device_label_using_post_with_http_info(device_id, label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_label_using_post ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AllEndpointsApi.add_device_label_using_post"
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling AllEndpointsApi.add_device_label_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/labels'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'labelId'] = label_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceProperty')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_label_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add label to device.
    # @param device_id deviceId
    # @param label_id labelId
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceProperty]
    def add_device_label_using_post1(device_id, label_id, opts = {})
      data, _status_code, _headers = add_device_label_using_post1_with_http_info(device_id, label_id, opts)
      data
    end

    # Add label to device.
    # @param device_id deviceId
    # @param label_id labelId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceProperty, Fixnum, Hash)>] APIDeviceProperty data, response status code and response headers
    def add_device_label_using_post1_with_http_info(device_id, label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_label_using_post1 ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AllEndpointsApi.add_device_label_using_post1"
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling AllEndpointsApi.add_device_label_using_post1"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/properties'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'labelId'] = label_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceProperty')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_label_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create device model criterion.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :field field
    # @option opts [Integer] :label_group_id labelGroupId
    # @return [nil]
    def add_device_model_criteria_using_post(opts = {})
      add_device_model_criteria_using_post_with_http_info(opts)
      nil
    end

    # Create device model criterion.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :field field
    # @option opts [Integer] :label_group_id labelGroupId
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_device_model_criteria_using_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_model_criteria_using_post ...'
      end
      if @api_client.config.client_side_validation && opts[:'field'] && !['NAME', 'FINGERPRINT', 'SERIAL_ID', 'UNLOCK_GESTURE', 'SOFTWARE_VERSION', 'INIT_STEP', 'ACCOUNT'].include?(opts[:'field'])
        fail ArgumentError, 'invalid value for "field", must be one of NAME, FINGERPRINT, SERIAL_ID, UNLOCK_GESTURE, SOFTWARE_VERSION, INIT_STEP, ACCOUNT'
      end
      # resource path
      local_var_path = '/api/v2/admin/device-model-criteria'

      # query parameters
      query_params = {}
      query_params[:'field'] = opts[:'field'] if !opts[:'field'].nil?
      query_params[:'labelGroupId'] = opts[:'label_group_id'] if !opts[:'label_group_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_model_criteria_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add device to device group.
    # @param device_group_id deviceGroupId
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :device_id deviceId
    # @option opts [Array<Integer>] :device_ids deviceIds[]
    # @return [APIDeviceGroup]
    def add_device_to_device_group_using_post(device_group_id, opts = {})
      data, _status_code, _headers = add_device_to_device_group_using_post_with_http_info(device_group_id, opts)
      data
    end

    # Add device to device group.
    # @param device_group_id deviceGroupId
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :device_id deviceId
    # @option opts [Array<Integer>] :device_ids deviceIds[]
    # @return [Array<(APIDeviceGroup, Fixnum, Hash)>] APIDeviceGroup data, response status code and response headers
    def add_device_to_device_group_using_post_with_http_info(device_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_to_device_group_using_post ...'
      end
      # verify the required parameter 'device_group_id' is set
      if @api_client.config.client_side_validation && device_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_group_id' when calling AllEndpointsApi.add_device_to_device_group_using_post"
      end
      # resource path
      local_var_path = '/api/v2/device-groups/{deviceGroupId}/devices'.sub('{' + 'deviceGroupId' + '}', device_group_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'deviceId'] = @api_client.build_collection_param(opts[:'device_id'], :multi) if !opts[:'device_id'].nil?
      query_params[:'deviceIds[]'] = @api_client.build_collection_param(opts[:'device_ids'], :multi) if !opts[:'device_ids'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_to_device_group_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add device to device group.
    # @param device_group_id deviceGroupId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :device_id deviceId
    # @option opts [Array<Integer>] :device_ids deviceIds[]
    # @return [APIDeviceGroup]
    def add_device_to_device_group_using_post1(device_group_id, user_id, opts = {})
      data, _status_code, _headers = add_device_to_device_group_using_post1_with_http_info(device_group_id, user_id, opts)
      data
    end

    # Add device to device group.
    # @param device_group_id deviceGroupId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :device_id deviceId
    # @option opts [Array<Integer>] :device_ids deviceIds[]
    # @return [Array<(APIDeviceGroup, Fixnum, Hash)>] APIDeviceGroup data, response status code and response headers
    def add_device_to_device_group_using_post1_with_http_info(device_group_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_to_device_group_using_post1 ...'
      end
      # verify the required parameter 'device_group_id' is set
      if @api_client.config.client_side_validation && device_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_group_id' when calling AllEndpointsApi.add_device_to_device_group_using_post1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_device_to_device_group_using_post1"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/device-groups/{deviceGroupId}/devices'.sub('{' + 'deviceGroupId' + '}', device_group_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'deviceId'] = @api_client.build_collection_param(opts[:'device_id'], :multi) if !opts[:'device_id'].nil?
      query_params[:'deviceIds[]'] = @api_client.build_collection_param(opts[:'device_ids'], :multi) if !opts[:'device_ids'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_to_device_group_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add file to device session.
    # @param device_session_id deviceSessionId
    # @param file file
    # @param name name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag tag
    # @return [APIUserFile]
    def add_file_using_post(device_session_id, file, name, opts = {})
      data, _status_code, _headers = add_file_using_post_with_http_info(device_session_id, file, name, opts)
      data
    end

    # Add file to device session.
    # @param device_session_id deviceSessionId
    # @param file file
    # @param name name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag tag
    # @return [Array<(APIUserFile, Fixnum, Hash)>] APIUserFile data, response status code and response headers
    def add_file_using_post_with_http_info(device_session_id, file, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_file_using_post ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AllEndpointsApi.add_file_using_post"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling AllEndpointsApi.add_file_using_post"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_file_using_post"
      end
      # resource path
      local_var_path = '/api/v2/device-sessions/{deviceSessionId}/output-file-set/files'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'name'] = name
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['file'] = file

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIUserFile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_file_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add file to device session.
    # @param device_session_id deviceSessionId
    # @param file file
    # @param name name
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag tag
    # @return [APIUserFile]
    def add_file_using_post1(device_session_id, file, name, user_id, opts = {})
      data, _status_code, _headers = add_file_using_post1_with_http_info(device_session_id, file, name, user_id, opts)
      data
    end

    # Add file to device session.
    # @param device_session_id deviceSessionId
    # @param file file
    # @param name name
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag tag
    # @return [Array<(APIUserFile, Fixnum, Hash)>] APIUserFile data, response status code and response headers
    def add_file_using_post1_with_http_info(device_session_id, file, name, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_file_using_post1 ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AllEndpointsApi.add_file_using_post1"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling AllEndpointsApi.add_file_using_post1"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_file_using_post1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_file_using_post1"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/device-sessions/{deviceSessionId}/output-file-set/files'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'name'] = name
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['file'] = file

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIUserFile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_file_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add tag to test run.
    # @param name name
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [APITag]
    def add_project_test_run_tag_using_post(name, project_id, run_id, opts = {})
      data, _status_code, _headers = add_project_test_run_tag_using_post_with_http_info(name, project_id, run_id, opts)
      data
    end

    # Add tag to test run.
    # @param name name
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITag, Fixnum, Hash)>] APITag data, response status code and response headers
    def add_project_test_run_tag_using_post_with_http_info(name, project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_project_test_run_tag_using_post ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_project_test_run_tag_using_post"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AllEndpointsApi.add_project_test_run_tag_using_post"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.add_project_test_run_tag_using_post"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/tags'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'name'] = name

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITag')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_project_test_run_tag_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add account role.
    # @param role_id roleId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :expire_time expireTime
    # @option opts [Integer] :value value
    # @return [APIRole]
    def add_role_to_account_using_post(role_id, user_id, opts = {})
      data, _status_code, _headers = add_role_to_account_using_post_with_http_info(role_id, user_id, opts)
      data
    end

    # Add account role.
    # @param role_id roleId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :expire_time expireTime
    # @option opts [Integer] :value value
    # @return [Array<(APIRole, Fixnum, Hash)>] APIRole data, response status code and response headers
    def add_role_to_account_using_post_with_http_info(role_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_role_to_account_using_post ...'
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AllEndpointsApi.add_role_to_account_using_post"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_role_to_account_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/users/{userId}/account/roles'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'roleId'] = role_id
      query_params[:'expireTime'] = opts[:'expire_time'] if !opts[:'expire_time'].nil?
      query_params[:'value'] = opts[:'value'] if !opts[:'value'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIRole')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_role_to_account_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add selectors to device group.
    # @param device_group_id deviceGroupId
    # @param selector_ids selectorIds[]
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceGroup]
    def add_selector_to_device_group_using_post(device_group_id, selector_ids, opts = {})
      data, _status_code, _headers = add_selector_to_device_group_using_post_with_http_info(device_group_id, selector_ids, opts)
      data
    end

    # Add selectors to device group.
    # @param device_group_id deviceGroupId
    # @param selector_ids selectorIds[]
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceGroup, Fixnum, Hash)>] APIDeviceGroup data, response status code and response headers
    def add_selector_to_device_group_using_post_with_http_info(device_group_id, selector_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_selector_to_device_group_using_post ...'
      end
      # verify the required parameter 'device_group_id' is set
      if @api_client.config.client_side_validation && device_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_group_id' when calling AllEndpointsApi.add_selector_to_device_group_using_post"
      end
      # verify the required parameter 'selector_ids' is set
      if @api_client.config.client_side_validation && selector_ids.nil?
        fail ArgumentError, "Missing the required parameter 'selector_ids' when calling AllEndpointsApi.add_selector_to_device_group_using_post"
      end
      # resource path
      local_var_path = '/api/v2/device-groups/{deviceGroupId}/selectors'.sub('{' + 'deviceGroupId' + '}', device_group_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'selectorIds[]'] = @api_client.build_collection_param(selector_ids, :multi)

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_selector_to_device_group_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add selectors to device group.
    # @param device_group_id deviceGroupId
    # @param selector_ids selectorIds[]
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;displayname_eq_value&lt;br&gt;filter&#x3D;ostype_eq_ios&lt;br&gt;filter&#x3D;name_eq_value&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;userid_eq_1
    # @option opts [Integer] :limit limit parameter define page size (default to 20)
    # @option opts [Integer] :offset offset parameter define page number (default to 0)
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;displayName_a&lt;br&gt;sort&#x3D;osType_a&lt;br&gt;sort&#x3D;name_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;userId_a
    # @return [APIDeviceGroup]
    def add_selector_to_device_group_using_post1(device_group_id, selector_ids, user_id, opts = {})
      data, _status_code, _headers = add_selector_to_device_group_using_post1_with_http_info(device_group_id, selector_ids, user_id, opts)
      data
    end

    # Add selectors to device group.
    # @param device_group_id deviceGroupId
    # @param selector_ids selectorIds[]
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;displayname_eq_value&lt;br&gt;filter&#x3D;ostype_eq_ios&lt;br&gt;filter&#x3D;name_eq_value&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;userid_eq_1
    # @option opts [Integer] :limit limit parameter define page size
    # @option opts [Integer] :offset offset parameter define page number
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;displayName_a&lt;br&gt;sort&#x3D;osType_a&lt;br&gt;sort&#x3D;name_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;userId_a
    # @return [Array<(APIDeviceGroup, Fixnum, Hash)>] APIDeviceGroup data, response status code and response headers
    def add_selector_to_device_group_using_post1_with_http_info(device_group_id, selector_ids, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_selector_to_device_group_using_post1 ...'
      end
      # verify the required parameter 'device_group_id' is set
      if @api_client.config.client_side_validation && device_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_group_id' when calling AllEndpointsApi.add_selector_to_device_group_using_post1"
      end
      # verify the required parameter 'selector_ids' is set
      if @api_client.config.client_side_validation && selector_ids.nil?
        fail ArgumentError, "Missing the required parameter 'selector_ids' when calling AllEndpointsApi.add_selector_to_device_group_using_post1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_selector_to_device_group_using_post1"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/device-groups/{deviceGroupId}/selectors'.sub('{' + 'deviceGroupId' + '}', device_group_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'selectorIds[]'] = @api_client.build_collection_param(selector_ids, :multi)
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIDeviceGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_selector_to_device_group_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add service to user.
    # @param service_id serviceId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count count (default to 1)
    # @return [APIAccountService]
    def add_service_to_user_using_post(service_id, user_id, opts = {})
      data, _status_code, _headers = add_service_to_user_using_post_with_http_info(service_id, user_id, opts)
      data
    end

    # Add service to user.
    # @param service_id serviceId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count count
    # @return [Array<(APIAccountService, Fixnum, Hash)>] APIAccountService data, response status code and response headers
    def add_service_to_user_using_post_with_http_info(service_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_service_to_user_using_post ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AllEndpointsApi.add_service_to_user_using_post"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_service_to_user_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/users/{userId}/account-services'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'serviceId'] = service_id
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIAccountService')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_service_to_user_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add tag to test run.
    # @param name name
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [APITag]
    def add_test_run_tag_using_post(name, run_id, opts = {})
      data, _status_code, _headers = add_test_run_tag_using_post_with_http_info(name, run_id, opts)
      data
    end

    # Add tag to test run.
    # @param name name
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [Array<(APITag, Fixnum, Hash)>] APITag data, response status code and response headers
    def add_test_run_tag_using_post_with_http_info(name, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_test_run_tag_using_post ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_test_run_tag_using_post"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.add_test_run_tag_using_post"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/tags'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'name'] = name
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITag')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_test_run_tag_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add tag to test run.
    # @param name name
    # @param project_id projectId
    # @param run_id runId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [APITag]
    def add_test_run_tag_using_post1(name, project_id, run_id, user_id, opts = {})
      data, _status_code, _headers = add_test_run_tag_using_post1_with_http_info(name, project_id, run_id, user_id, opts)
      data
    end

    # Add tag to test run.
    # @param name name
    # @param project_id projectId
    # @param run_id runId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITag, Fixnum, Hash)>] APITag data, response status code and response headers
    def add_test_run_tag_using_post1_with_http_info(name, project_id, run_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_test_run_tag_using_post1 ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_test_run_tag_using_post1"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AllEndpointsApi.add_test_run_tag_using_post1"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.add_test_run_tag_using_post1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_test_run_tag_using_post1"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/runs/{runId}/tags'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'name'] = name

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITag')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_test_run_tag_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add user to access group.
    # @param access_group_id accessGroupId
    # @param email email
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def add_user_using_post(access_group_id, email, opts = {})
      data, _status_code, _headers = add_user_using_post_with_http_info(access_group_id, email, opts)
      data
    end

    # Add user to access group.
    # @param access_group_id accessGroupId
    # @param email email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Fixnum, Hash)>] APIUser data, response status code and response headers
    def add_user_using_post_with_http_info(access_group_id, email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_user_using_post ...'
      end
      # verify the required parameter 'access_group_id' is set
      if @api_client.config.client_side_validation && access_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'access_group_id' when calling AllEndpointsApi.add_user_using_post"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AllEndpointsApi.add_user_using_post"
      end
      # resource path
      local_var_path = '/api/v2/access-groups/{accessGroupId}/users'.sub('{' + 'accessGroupId' + '}', access_group_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'email'] = email

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIUser')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_user_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add user to access group.
    # @param access_group_id accessGroupId
    # @param email email
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def add_user_using_post1(access_group_id, email, user_id, opts = {})
      data, _status_code, _headers = add_user_using_post1_with_http_info(access_group_id, email, user_id, opts)
      data
    end

    # Add user to access group.
    # @param access_group_id accessGroupId
    # @param email email
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Fixnum, Hash)>] APIUser data, response status code and response headers
    def add_user_using_post1_with_http_info(access_group_id, email, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_user_using_post1 ...'
      end
      # verify the required parameter 'access_group_id' is set
      if @api_client.config.client_side_validation && access_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'access_group_id' when calling AllEndpointsApi.add_user_using_post1"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AllEndpointsApi.add_user_using_post1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_user_using_post1"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/access-groups/{accessGroupId}/users'.sub('{' + 'accessGroupId' + '}', access_group_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'email'] = email

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIUser')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_user_using_post1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Archive service.
    # @param service_id serviceId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def archive_service_using_delete(service_id, opts = {})
      archive_service_using_delete_with_http_info(service_id, opts)
      nil
    end

    # Archive service.
    # @param service_id serviceId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def archive_service_using_delete_with_http_info(service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.archive_service_using_delete ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AllEndpointsApi.archive_service_using_delete"
      end
      # resource path
      local_var_path = '/api/v2/admin/services/{serviceId}'.sub('{' + 'serviceId' + '}', service_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#archive_service_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create property banning application.
    # @param test_run_id testRunId
    # @param [Hash] opts the optional parameters
    # @return [APIProperty]
    def ban_application_using_post(test_run_id, opts = {})
      data, _status_code, _headers = ban_application_using_post_with_http_info(test_run_id, opts)
      data
    end

    # Create property banning application.
    # @param test_run_id testRunId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIProperty, Fixnum, Hash)>] APIProperty data, response status code and response headers
    def ban_application_using_post_with_http_info(test_run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.ban_application_using_post ...'
      end
      # verify the required parameter 'test_run_id' is set
      if @api_client.config.client_side_validation && test_run_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_run_id' when calling AllEndpointsApi.ban_application_using_post"
      end
      # resource path
      local_var_path = '/api/v2/properties/app-bans'

      # query parameters
      query_params = {}
      query_params[:'testRunId'] = test_run_id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIProperty')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#ban_application_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create property banning email domain.
    # @param email email
    # @param [Hash] opts the optional parameters
    # @return [APIProperty]
    def ban_email_domain_using_post(email, opts = {})
      data, _status_code, _headers = ban_email_domain_using_post_with_http_info(email, opts)
      data
    end

    # Create property banning email domain.
    # @param email email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIProperty, Fixnum, Hash)>] APIProperty data, response status code and response headers
    def ban_email_domain_using_post_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.ban_email_domain_using_post ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AllEndpointsApi.ban_email_domain_using_post"
      end
      # resource path
      local_var_path = '/api/v2/properties/email-bans'

      # query parameters
      query_params = {}
      query_params[:'email'] = email

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIProperty')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#ban_email_domain_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Start blinking device screen.
    # @param device_id deviceId
    # @param [Hash] opts the optional parameters
    # @return [APIAdminDevice]
    def blink_using_post(device_id, opts = {})
      data, _status_code, _headers = blink_using_post_with_http_info(device_id, opts)
      data
    end

    # Start blinking device screen.
    # @param device_id deviceId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAdminDevice, Fixnum, Hash)>] APIAdminDevice data, response status code and response headers
    def blink_using_post_with_http_info(device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.blink_using_post ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AllEndpointsApi.blink_using_post"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/blink'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIAdminDevice')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#blink_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Buy service.
    # @param payment_method paymentMethod
    # @param service_id serviceId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :address address
    # @option opts [String] :braintree_nonce braintreeNonce
    # @option opts [String] :card_number cardNumber
    # @option opts [String] :city city
    # @option opts [Integer] :count count (default to 1)
    # @option opts [String] :country country
    # @option opts [String] :cvv cvv
    # @option opts [String] :email email
    # @option opts [String] :expiration_date expirationDate
    # @option opts [String] :first_name firstName
    # @option opts [String] :last_name lastName
    # @option opts [String] :organization organization
    # @option opts [String] :phone phone
    # @option opts [String] :state state
    # @option opts [String] :stripe_token stripeToken
    # @option opts [String] :vat_id vatId
    # @option opts [String] :zip zip
    # @return [APIServicePaymentStatus]
    def buy_service_using_post(payment_method, service_id, user_id, opts = {})
      data, _status_code, _headers = buy_service_using_post_with_http_info(payment_method, service_id, user_id, opts)
      data
    end

    # Buy service.
    # @param payment_method paymentMethod
    # @param service_id serviceId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :address address
    # @option opts [String] :braintree_nonce braintreeNonce
    # @option opts [String] :card_number cardNumber
    # @option opts [String] :city city
    # @option opts [Integer] :count count
    # @option opts [String] :country country
    # @option opts [String] :cvv cvv
    # @option opts [String] :email email
    # @option opts [String] :expiration_date expirationDate
    # @option opts [String] :first_name firstName
    # @option opts [String] :last_name lastName
    # @option opts [String] :organization organization
    # @option opts [String] :phone phone
    # @option opts [String] :state state
    # @option opts [String] :stripe_token stripeToken
    # @option opts [String] :vat_id vatId
    # @option opts [String] :zip zip
    # @return [Array<(APIServicePaymentStatus, Fixnum, Hash)>] APIServicePaymentStatus data, response status code and response headers
    def buy_service_using_post_with_http_info(payment_method, service_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.buy_service_using_post ...'
      end
      # verify the required parameter 'payment_method' is set
      if @api_client.config.client_side_validation && payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'payment_method' when calling AllEndpointsApi.buy_service_using_post"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['PAYPAL', 'BRAINTREE', 'STRIPE', 'INVOICE', 'PROMOTION', 'AWS'].include?(payment_method)
        fail ArgumentError, "invalid value for 'payment_method', must be one of PAYPAL, BRAINTREE, STRIPE, INVOICE, PROMOTION, AWS"
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AllEndpointsApi.buy_service_using_post"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.buy_service_using_post"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/services'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'paymentMethod'] = payment_method
      query_params[:'serviceId'] = service_id
      query_params[:'address'] = opts[:'address'] if !opts[:'address'].nil?
      query_params[:'braintreeNonce'] = opts[:'braintree_nonce'] if !opts[:'braintree_nonce'].nil?
      query_params[:'cardNumber'] = opts[:'card_number'] if !opts[:'card_number'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'cvv'] = opts[:'cvv'] if !opts[:'cvv'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'expirationDate'] = opts[:'expiration_date'] if !opts[:'expiration_date'].nil?
      query_params[:'firstName'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'lastName'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'organization'] = opts[:'organization'] if !opts[:'organization'].nil?
      query_params[:'phone'] = opts[:'phone'] if !opts[:'phone'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'stripeToken'] = opts[:'stripe_token'] if !opts[:'stripe_token'].nil?
      query_params[:'vatId'] = opts[:'vat_id'] if !opts[:'vat_id'].nil?
      query_params[:'zip'] = opts[:'zip'] if !opts[:'zip'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIServicePaymentStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#buy_service_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancel service subscription.
    # @param account_service_id accountServiceId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [APIServicePaymentStatus]
    def cancel_subscription_using_delete(account_service_id, user_id, opts = {})
      data, _status_code, _headers = cancel_subscription_using_delete_with_http_info(account_service_id, user_id, opts)
      data
    end

    # Cancel service subscription.
    # @param account_service_id accountServiceId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIServicePaymentStatus, Fixnum, Hash)>] APIServicePaymentStatus data, response status code and response headers
    def cancel_subscription_using_delete_with_http_info(account_service_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.cancel_subscription_using_delete ...'
      end
      # verify the required parameter 'account_service_id' is set
      if @api_client.config.client_side_validation && account_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_service_id' when calling AllEndpointsApi.cancel_subscription_using_delete"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.cancel_subscription_using_delete"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/services/{accountServiceId}'.sub('{' + 'accountServiceId' + '}', account_service_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIServicePaymentStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#cancel_subscription_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Check potential notifications generated by notification plan.
    # @param id id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;scope_eq_all&lt;br&gt;filter&#x3D;channel_eq_slack&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;userid_eq_1&lt;br&gt;filter&#x3D;projectid_eq_1
    # @option opts [Integer] :limit limit parameter define page size (default to 20)
    # @option opts [Integer] :offset offset parameter define page number (default to 0)
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;scope_a&lt;br&gt;sort&#x3D;channel_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;userId_a&lt;br&gt;sort&#x3D;projectId_a
    # @return [APIListOfAPINotification]
    def check_notification_plan_using_get(id, opts = {})
      data, _status_code, _headers = check_notification_plan_using_get_with_http_info(id, opts)
      data
    end

    # Check potential notifications generated by notification plan.
    # @param id id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;scope_eq_all&lt;br&gt;filter&#x3D;channel_eq_slack&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;userid_eq_1&lt;br&gt;filter&#x3D;projectid_eq_1
    # @option opts [Integer] :limit limit parameter define page size
    # @option opts [Integer] :offset offset parameter define page number
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;scope_a&lt;br&gt;sort&#x3D;channel_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;userId_a&lt;br&gt;sort&#x3D;projectId_a
    # @return [Array<(APIListOfAPINotification, Fixnum, Hash)>] APIListOfAPINotification data, response status code and response headers
    def check_notification_plan_using_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.check_notification_plan_using_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AllEndpointsApi.check_notification_plan_using_get"
      end
      # resource path
      local_var_path = '/api/v2/admin/notification-plans/{id}/check'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIListOfAPINotification')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#check_notification_plan_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create device cleanup configuration.
    # @param content content
    # @param discriminator discriminator
    # @param os_type osType
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :enabled enabled (default to true)
    # @return [APIDeviceCleanupConfiguration]
    def create_device_cleanup_configuration_using_post(content, discriminator, os_type, opts = {})
      data, _status_code, _headers = create_device_cleanup_configuration_using_post_with_http_info(content, discriminator, os_type, opts)
      data
    end

    # Create device cleanup configuration.
    # @param content content
    # @param discriminator discriminator
    # @param os_type osType
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :enabled enabled
    # @return [Array<(APIDeviceCleanupConfiguration, Fixnum, Hash)>] APIDeviceCleanupConfiguration data, response status code and response headers
    def create_device_cleanup_configuration_using_post_with_http_info(content, discriminator, os_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.create_device_cleanup_configuration_using_post ...'
      end
      # verify the required parameter 'content' is set
      if @api_client.config.client_side_validation && content.nil?
        fail ArgumentError, "Missing the required parameter 'content' when calling AllEndpointsApi.create_device_cleanup_configuration_using_post"
      end
      # verify the required parameter 'discriminator' is set
      if @api_client.config.client_side_validation && discriminator.nil?
[...]
