=begin
#BitbarCloud API

#BitbarCloud API

OpenAPI spec version: 3.24.1-master-20231027-124207

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.50
=end

module BitbarCloudApiClient
  class AllEndpointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Abort device session.
    # @param user_id
    # @param project_id
    # @param run_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceSession]
    def abort_device_session(user_id, project_id, run_id, device_session_id, opts = {})
      data, _status_code, _headers = abort_device_session_with_http_info(user_id, project_id, run_id, device_session_id, opts)
      data
    end

    # Abort device session.
    # @param user_id
    # @param project_id
    # @param run_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceSession, Integer, Hash)>] APIDeviceSession data, response status code and response headers
    def abort_device_session_with_http_info(user_id, project_id, run_id, device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.abort_device_session ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.abort_device_session"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AllEndpointsApi.abort_device_session"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.abort_device_session"
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AllEndpointsApi.abort_device_session"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/runs/{runId}/device-sessions/{deviceSessionId}/abort'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s).sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceSession'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#abort_device_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort device session.
    # @param project_id
    # @param run_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceSession]
    def abort_device_session1(project_id, run_id, device_session_id, opts = {})
      data, _status_code, _headers = abort_device_session1_with_http_info(project_id, run_id, device_session_id, opts)
      data
    end

    # Abort device session.
    # @param project_id
    # @param run_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceSession, Integer, Hash)>] APIDeviceSession data, response status code and response headers
    def abort_device_session1_with_http_info(project_id, run_id, device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.abort_device_session1 ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AllEndpointsApi.abort_device_session1"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.abort_device_session1"
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AllEndpointsApi.abort_device_session1"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/device-sessions/{deviceSessionId}/abort'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s).sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceSession'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#abort_device_session1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param project_id
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @return [APITestRun]
    def abort_project_test_run(project_id, run_id, opts = {})
      data, _status_code, _headers = abort_project_test_run_with_http_info(project_id, run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param project_id
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITestRun, Integer, Hash)>] APITestRun data, response status code and response headers
    def abort_project_test_run_with_http_info(project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.abort_project_test_run ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AllEndpointsApi.abort_project_test_run"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.abort_project_test_run"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/abort'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APITestRun'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#abort_project_test_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id
    # @return [APITestRun]
    def abort_test_run(run_id, opts = {})
      data, _status_code, _headers = abort_test_run_with_http_info(run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id
    # @return [Array<(APITestRun, Integer, Hash)>] APITestRun data, response status code and response headers
    def abort_test_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.abort_test_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.abort_test_run"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/abort'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APITestRun'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#abort_test_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @return [APIAdminTestRun]
    def abort_test_run1(run_id, opts = {})
      data, _status_code, _headers = abort_test_run1_with_http_info(run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAdminTestRun, Integer, Hash)>] APIAdminTestRun data, response status code and response headers
    def abort_test_run1_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.abort_test_run1 ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.abort_test_run1"
      end
      # resource path
      local_var_path = '/api/v2/admin/runs/{runId}/abort'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIAdminTestRun'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#abort_test_run1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Abort test run and receive partial results.
    # @param user_id
    # @param project_id
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @return [APITestRun]
    def abort_user_test_run(user_id, project_id, run_id, opts = {})
      data, _status_code, _headers = abort_user_test_run_with_http_info(user_id, project_id, run_id, opts)
      data
    end

    # Abort test run and receive partial results.
    # @param user_id
    # @param project_id
    # @param run_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITestRun, Integer, Hash)>] APITestRun data, response status code and response headers
    def abort_user_test_run_with_http_info(user_id, project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.abort_user_test_run ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.abort_user_test_run"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AllEndpointsApi.abort_user_test_run"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.abort_user_test_run"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/runs/{runId}/abort'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APITestRun'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#abort_user_test_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate user after registration.
    # @param email
    # @param key
    # @param password
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name
    # @option opts [String] :last_name
    # @option opts [String] :phone
    # @option opts [String] :organization
    # @option opts [String] :country
    # @option opts [String] :city
    # @option opts [String] :state
    # @option opts [String] :address
    # @option opts [String] :zip
    # @return [APIUser]
    def activate(email, key, password, opts = {})
      data, _status_code, _headers = activate_with_http_info(email, key, password, opts)
      data
    end

    # Activate user after registration.
    # @param email
    # @param key
    # @param password
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name
    # @option opts [String] :last_name
    # @option opts [String] :phone
    # @option opts [String] :organization
    # @option opts [String] :country
    # @option opts [String] :city
    # @option opts [String] :state
    # @option opts [String] :address
    # @option opts [String] :zip
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def activate_with_http_info(email, key, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.activate ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AllEndpointsApi.activate"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling AllEndpointsApi.activate"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling AllEndpointsApi.activate"
      end
      # resource path
      local_var_path = '/api/v2/users/activate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email
      query_params[:'key'] = key
      query_params[:'password'] = password
      query_params[:'firstName'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'lastName'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'phone'] = opts[:'phone'] if !opts[:'phone'].nil?
      query_params[:'organization'] = opts[:'organization'] if !opts[:'organization'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'address'] = opts[:'address'] if !opts[:'address'].nil?
      query_params[:'zip'] = opts[:'zip'] if !opts[:'zip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#activate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate license.
    # @param id
    # @param [Hash] opts the optional parameters
    # @return [APILicense]
    def activate_license(id, opts = {})
      data, _status_code, _headers = activate_license_with_http_info(id, opts)
      data
    end

    # Activate license.
    # @param id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APILicense, Integer, Hash)>] APILicense data, response status code and response headers
    def activate_license_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.activate_license ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AllEndpointsApi.activate_license"
      end
      # resource path
      local_var_path = '/api/v2/admin/licenses/{id}/activate'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APILicense'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#activate_license\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate service.
    # @param service_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :activate_time
    # @return [APIService]
    def activate_service(service_id, opts = {})
      data, _status_code, _headers = activate_service_with_http_info(service_id, opts)
      data
    end

    # Activate service.
    # @param service_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :activate_time
    # @return [Array<(APIService, Integer, Hash)>] APIService data, response status code and response headers
    def activate_service_with_http_info(service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.activate_service ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AllEndpointsApi.activate_service"
      end
      # resource path
      local_var_path = '/api/v2/admin/services/{serviceId}/activate'.sub('{' + 'serviceId' + '}', service_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'activateTime'] = opts[:'activate_time'] if !opts[:'activate_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIService'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#activate_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Activate account service.
    # @param account_service_id
    # @param [Hash] opts the optional parameters
    # @return [APIAccountService]
    def activate_user_service(account_service_id, opts = {})
      data, _status_code, _headers = activate_user_service_with_http_info(account_service_id, opts)
      data
    end

    # Activate account service.
    # @param account_service_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAccountService, Integer, Hash)>] APIAccountService data, response status code and response headers
    def activate_user_service_with_http_info(account_service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.activate_user_service ...'
      end
      # verify the required parameter 'account_service_id' is set
      if @api_client.config.client_side_validation && account_service_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_service_id' when calling AllEndpointsApi.activate_user_service"
      end
      # resource path
      local_var_path = '/api/v2/admin/account-services/{accountServiceId}/activate'.sub('{' + 'accountServiceId' + '}', account_service_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIAccountService'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#activate_user_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add additional user.
    # @param user_id
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def add_additional_user(user_id, email, opts = {})
      data, _status_code, _headers = add_additional_user_with_http_info(user_id, email, opts)
      data
    end

    # Add additional user.
    # @param user_id
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def add_additional_user_with_http_info(user_id, email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_additional_user ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_additional_user"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AllEndpointsApi.add_additional_user"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/account/additional-users'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_additional_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add device specific cleanup configuration.
    # @param device_id
    # @param device_cleanup_configuration_id
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceCleanupConfiguration]
    def add_device_cleanup_configuration(device_id, device_cleanup_configuration_id, opts = {})
      data, _status_code, _headers = add_device_cleanup_configuration_with_http_info(device_id, device_cleanup_configuration_id, opts)
      data
    end

    # Add device specific cleanup configuration.
    # @param device_id
    # @param device_cleanup_configuration_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceCleanupConfiguration, Integer, Hash)>] APIDeviceCleanupConfiguration data, response status code and response headers
    def add_device_cleanup_configuration_with_http_info(device_id, device_cleanup_configuration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_cleanup_configuration ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AllEndpointsApi.add_device_cleanup_configuration"
      end
      # verify the required parameter 'device_cleanup_configuration_id' is set
      if @api_client.config.client_side_validation && device_cleanup_configuration_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_cleanup_configuration_id' when calling AllEndpointsApi.add_device_cleanup_configuration"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/cleanup-configuration'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceCleanupConfigurationId'] = device_cleanup_configuration_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceCleanupConfiguration'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_cleanup_configuration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add label to device.
    # @param device_id
    # @param label_id
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceProperty]
    def add_device_label(device_id, label_id, opts = {})
      data, _status_code, _headers = add_device_label_with_http_info(device_id, label_id, opts)
      data
    end

    # Add label to device.
    # @param device_id
    # @param label_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceProperty, Integer, Hash)>] APIDeviceProperty data, response status code and response headers
    def add_device_label_with_http_info(device_id, label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_label ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AllEndpointsApi.add_device_label"
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling AllEndpointsApi.add_device_label"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/labels'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'labelId'] = label_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceProperty'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add label to device.
    # @param device_id
    # @param label_id
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceProperty]
    def add_device_label1(device_id, label_id, opts = {})
      data, _status_code, _headers = add_device_label1_with_http_info(device_id, label_id, opts)
      data
    end

    # Add label to device.
    # @param device_id
    # @param label_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceProperty, Integer, Hash)>] APIDeviceProperty data, response status code and response headers
    def add_device_label1_with_http_info(device_id, label_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_label1 ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AllEndpointsApi.add_device_label1"
      end
      # verify the required parameter 'label_id' is set
      if @api_client.config.client_side_validation && label_id.nil?
        fail ArgumentError, "Missing the required parameter 'label_id' when calling AllEndpointsApi.add_device_label1"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/properties'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'labelId'] = label_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceProperty'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_label1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create device model criterion.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :field
    # @option opts [Integer] :label_group_id
    # @return [APIMessage]
    def add_device_model_criteria(opts = {})
      data, _status_code, _headers = add_device_model_criteria_with_http_info(opts)
      data
    end

    # Create device model criterion.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :field
    # @option opts [Integer] :label_group_id
    # @return [Array<(APIMessage, Integer, Hash)>] APIMessage data, response status code and response headers
    def add_device_model_criteria_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_model_criteria ...'
      end
      if @api_client.config.client_side_validation && opts[:'field'] && !['NAME', 'FINGERPRINT', 'SERIAL_ID', 'UNLOCK_GESTURE', 'SOFTWARE_VERSION', 'INIT_STEP', 'ACCOUNT', 'BROWSERS'].include?(opts[:'field'])
        fail ArgumentError, 'invalid value for "field", must be one of NAME, FINGERPRINT, SERIAL_ID, UNLOCK_GESTURE, SOFTWARE_VERSION, INIT_STEP, ACCOUNT, BROWSERS'
      end
      # resource path
      local_var_path = '/api/v2/admin/device-model-criteria'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'field'] = opts[:'field'] if !opts[:'field'].nil?
      query_params[:'labelGroupId'] = opts[:'label_group_id'] if !opts[:'label_group_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIMessage'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_model_criteria\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add file to device session.
    # @param name
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [OutputfilesetFilesBody4] :body
    # @option opts [String] :tag
    # @return [APIUserFile]
    def add_device_session_output_file(name, device_session_id, opts = {})
      data, _status_code, _headers = add_device_session_output_file_with_http_info(name, device_session_id, opts)
      data
    end

    # Add file to device session.
    # @param name
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [OutputfilesetFilesBody4] :body
    # @option opts [String] :tag
    # @return [Array<(APIUserFile, Integer, Hash)>] APIUserFile data, response status code and response headers
    def add_device_session_output_file_with_http_info(name, device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_session_output_file ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_device_session_output_file"
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AllEndpointsApi.add_device_session_output_file"
      end
      # resource path
      local_var_path = '/api/v2/device-sessions/{deviceSessionId}/output-file-set/files'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body'])

      return_type = opts[:return_type] || 'APIUserFile'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_session_output_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add device to device group.
    # @param user_id
    # @param device_group_id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :device_id
    # @option opts [Array<Integer>] :device_ids
    # @return [APIDeviceGroup]
    def add_device_to_device_group(user_id, device_group_id, opts = {})
      data, _status_code, _headers = add_device_to_device_group_with_http_info(user_id, device_group_id, opts)
      data
    end

    # Add device to device group.
    # @param user_id
    # @param device_group_id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :device_id
    # @option opts [Array<Integer>] :device_ids
    # @return [Array<(APIDeviceGroup, Integer, Hash)>] APIDeviceGroup data, response status code and response headers
    def add_device_to_device_group_with_http_info(user_id, device_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_to_device_group ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_device_to_device_group"
      end
      # verify the required parameter 'device_group_id' is set
      if @api_client.config.client_side_validation && device_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_group_id' when calling AllEndpointsApi.add_device_to_device_group"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/device-groups/{deviceGroupId}/devices'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'deviceGroupId' + '}', device_group_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = @api_client.build_collection_param(opts[:'device_id'], :multi) if !opts[:'device_id'].nil?
      query_params[:'deviceIds[]'] = @api_client.build_collection_param(opts[:'device_ids'], :multi) if !opts[:'device_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceGroup'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_to_device_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add device to device group.
    # @param device_group_id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :device_id
    # @option opts [Array<Integer>] :device_ids
    # @return [APIDeviceGroup]
    def add_device_to_device_group1(device_group_id, opts = {})
      data, _status_code, _headers = add_device_to_device_group1_with_http_info(device_group_id, opts)
      data
    end

    # Add device to device group.
    # @param device_group_id
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :device_id
    # @option opts [Array<Integer>] :device_ids
    # @return [Array<(APIDeviceGroup, Integer, Hash)>] APIDeviceGroup data, response status code and response headers
    def add_device_to_device_group1_with_http_info(device_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_device_to_device_group1 ...'
      end
      # verify the required parameter 'device_group_id' is set
      if @api_client.config.client_side_validation && device_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_group_id' when calling AllEndpointsApi.add_device_to_device_group1"
      end
      # resource path
      local_var_path = '/api/v2/device-groups/{deviceGroupId}/devices'.sub('{' + 'deviceGroupId' + '}', device_group_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = @api_client.build_collection_param(opts[:'device_id'], :multi) if !opts[:'device_id'].nil?
      query_params[:'deviceIds[]'] = @api_client.build_collection_param(opts[:'device_ids'], :multi) if !opts[:'device_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceGroup'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_device_to_device_group1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add file to device session.
    # @param name
    # @param user_id
    # @param project_id
    # @param run_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [OutputfilesetFilesBody] :body
    # @option opts [String] :tag
    # @return [APIUserFile]
    def add_file(name, user_id, project_id, run_id, device_session_id, opts = {})
      data, _status_code, _headers = add_file_with_http_info(name, user_id, project_id, run_id, device_session_id, opts)
      data
    end

    # Add file to device session.
    # @param name
    # @param user_id
    # @param project_id
    # @param run_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [OutputfilesetFilesBody] :body
    # @option opts [String] :tag
    # @return [Array<(APIUserFile, Integer, Hash)>] APIUserFile data, response status code and response headers
    def add_file_with_http_info(name, user_id, project_id, run_id, device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_file ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_file"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_file"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AllEndpointsApi.add_file"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.add_file"
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AllEndpointsApi.add_file"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/runs/{runId}/device-sessions/{deviceSessionId}/output-file-set/files'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s).sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body'])

      return_type = opts[:return_type] || 'APIUserFile'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add file to device session.
    # @param name
    # @param user_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [OutputfilesetFilesBody1] :body
    # @option opts [String] :tag
    # @return [APIUserFile]
    def add_file1(name, user_id, device_session_id, opts = {})
      data, _status_code, _headers = add_file1_with_http_info(name, user_id, device_session_id, opts)
      data
    end

    # Add file to device session.
    # @param name
    # @param user_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [OutputfilesetFilesBody1] :body
    # @option opts [String] :tag
    # @return [Array<(APIUserFile, Integer, Hash)>] APIUserFile data, response status code and response headers
    def add_file1_with_http_info(name, user_id, device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_file1 ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_file1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_file1"
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AllEndpointsApi.add_file1"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/device-sessions/{deviceSessionId}/output-file-set/files'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body'])

      return_type = opts[:return_type] || 'APIUserFile'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_file1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add file to device session.
    # @param name
    # @param run_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [OutputfilesetFilesBody2] :body
    # @option opts [String] :tag
    # @return [APIUserFile]
    def add_file2(name, run_id, device_session_id, opts = {})
      data, _status_code, _headers = add_file2_with_http_info(name, run_id, device_session_id, opts)
      data
    end

    # Add file to device session.
    # @param name
    # @param run_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [OutputfilesetFilesBody2] :body
    # @option opts [String] :tag
    # @return [Array<(APIUserFile, Integer, Hash)>] APIUserFile data, response status code and response headers
    def add_file2_with_http_info(name, run_id, device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_file2 ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_file2"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.add_file2"
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AllEndpointsApi.add_file2"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/device-sessions/{deviceSessionId}/output-file-set/files'.sub('{' + 'runId' + '}', run_id.to_s).sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body'])

      return_type = opts[:return_type] || 'APIUserFile'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_file2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add file to device session.
    # @param name
    # @param project_id
    # @param run_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [OutputfilesetFilesBody3] :body
    # @option opts [String] :tag
    # @return [APIUserFile]
    def add_file3(name, project_id, run_id, device_session_id, opts = {})
      data, _status_code, _headers = add_file3_with_http_info(name, project_id, run_id, device_session_id, opts)
      data
    end

    # Add file to device session.
    # @param name
    # @param project_id
    # @param run_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [OutputfilesetFilesBody3] :body
    # @option opts [String] :tag
    # @return [Array<(APIUserFile, Integer, Hash)>] APIUserFile data, response status code and response headers
    def add_file3_with_http_info(name, project_id, run_id, device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_file3 ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_file3"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AllEndpointsApi.add_file3"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.add_file3"
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling AllEndpointsApi.add_file3"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/device-sessions/{deviceSessionId}/output-file-set/files'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s).sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body'])

      return_type = opts[:return_type] || 'APIUserFile'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_file3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add tag to test run.
    # @param project_id
    # @param run_id
    # @param name
    # @param [Hash] opts the optional parameters
    # @return [APITag]
    def add_project_test_run_tag(project_id, run_id, name, opts = {})
      data, _status_code, _headers = add_project_test_run_tag_with_http_info(project_id, run_id, name, opts)
      data
    end

    # Add tag to test run.
    # @param project_id
    # @param run_id
    # @param name
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITag, Integer, Hash)>] APITag data, response status code and response headers
    def add_project_test_run_tag_with_http_info(project_id, run_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_project_test_run_tag ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AllEndpointsApi.add_project_test_run_tag"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.add_project_test_run_tag"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_project_test_run_tag"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/tags'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APITag'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_project_test_run_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add account role.
    # @param user_id
    # @param role_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :value
    # @option opts [Integer] :expire_time
    # @return [APIRole]
    def add_role_to_account(user_id, role_id, opts = {})
      data, _status_code, _headers = add_role_to_account_with_http_info(user_id, role_id, opts)
      data
    end

    # Add account role.
    # @param user_id
    # @param role_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :value
    # @option opts [Integer] :expire_time
    # @return [Array<(APIRole, Integer, Hash)>] APIRole data, response status code and response headers
    def add_role_to_account_with_http_info(user_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_role_to_account ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_role_to_account"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling AllEndpointsApi.add_role_to_account"
      end
      # resource path
      local_var_path = '/api/v2/admin/users/{userId}/account/roles'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'roleId'] = role_id
      query_params[:'value'] = opts[:'value'] if !opts[:'value'].nil?
      query_params[:'expireTime'] = opts[:'expire_time'] if !opts[:'expire_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIRole'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_role_to_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add selectors to device group.
    # @param user_id
    # @param device_group_id
    # @param selector_ids
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;displayName_a&lt;br&gt;sort&#x3D;name_a&lt;br&gt;sort&#x3D;osType_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;userId_a
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;displayname_eq_value&lt;br&gt;filter&#x3D;name_eq_value&lt;br&gt;filter&#x3D;ostype_eq_ios&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;userid_eq_1
    # @option opts [String] :offset offset parameter define page number (default to 0)
    # @option opts [String] :limit limit parameter define page size (default to 20)
    # @return [APIDeviceGroup]
    def add_selector_to_device_group(user_id, device_group_id, selector_ids, opts = {})
      data, _status_code, _headers = add_selector_to_device_group_with_http_info(user_id, device_group_id, selector_ids, opts)
      data
    end

    # Add selectors to device group.
    # @param user_id
    # @param device_group_id
    # @param selector_ids
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;displayName_a&lt;br&gt;sort&#x3D;name_a&lt;br&gt;sort&#x3D;osType_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;userId_a
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;displayname_eq_value&lt;br&gt;filter&#x3D;name_eq_value&lt;br&gt;filter&#x3D;ostype_eq_ios&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;userid_eq_1
    # @option opts [String] :offset offset parameter define page number
    # @option opts [String] :limit limit parameter define page size
    # @return [Array<(APIDeviceGroup, Integer, Hash)>] APIDeviceGroup data, response status code and response headers
    def add_selector_to_device_group_with_http_info(user_id, device_group_id, selector_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_selector_to_device_group ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_selector_to_device_group"
      end
      # verify the required parameter 'device_group_id' is set
      if @api_client.config.client_side_validation && device_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_group_id' when calling AllEndpointsApi.add_selector_to_device_group"
      end
      # verify the required parameter 'selector_ids' is set
      if @api_client.config.client_side_validation && selector_ids.nil?
        fail ArgumentError, "Missing the required parameter 'selector_ids' when calling AllEndpointsApi.add_selector_to_device_group"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/device-groups/{deviceGroupId}/selectors'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'deviceGroupId' + '}', device_group_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'selectorIds[]'] = @api_client.build_collection_param(selector_ids, :multi)
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceGroup'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_selector_to_device_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add selectors to device group.
    # @param device_group_id
    # @param selector_ids
    # @param [Hash] opts the optional parameters
    # @return [APIDeviceGroup]
    def add_selector_to_device_group1(device_group_id, selector_ids, opts = {})
      data, _status_code, _headers = add_selector_to_device_group1_with_http_info(device_group_id, selector_ids, opts)
      data
    end

    # Add selectors to device group.
    # @param device_group_id
    # @param selector_ids
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIDeviceGroup, Integer, Hash)>] APIDeviceGroup data, response status code and response headers
    def add_selector_to_device_group1_with_http_info(device_group_id, selector_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_selector_to_device_group1 ...'
      end
      # verify the required parameter 'device_group_id' is set
      if @api_client.config.client_side_validation && device_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_group_id' when calling AllEndpointsApi.add_selector_to_device_group1"
      end
      # verify the required parameter 'selector_ids' is set
      if @api_client.config.client_side_validation && selector_ids.nil?
        fail ArgumentError, "Missing the required parameter 'selector_ids' when calling AllEndpointsApi.add_selector_to_device_group1"
      end
      # resource path
      local_var_path = '/api/v2/device-groups/{deviceGroupId}/selectors'.sub('{' + 'deviceGroupId' + '}', device_group_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'selectorIds[]'] = @api_client.build_collection_param(selector_ids, :multi)

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIDeviceGroup'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_selector_to_device_group1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add service to user.
    # @param user_id
    # @param service_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count  (default to 1)
    # @option opts [Integer] :end_time
    # @return [APIAccountService]
    def add_service_to_user(user_id, service_id, opts = {})
      data, _status_code, _headers = add_service_to_user_with_http_info(user_id, service_id, opts)
      data
    end

    # Add service to user.
    # @param user_id
    # @param service_id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :count
    # @option opts [Integer] :end_time
    # @return [Array<(APIAccountService, Integer, Hash)>] APIAccountService data, response status code and response headers
    def add_service_to_user_with_http_info(user_id, service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_service_to_user ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_service_to_user"
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AllEndpointsApi.add_service_to_user"
      end
      # resource path
      local_var_path = '/api/v2/admin/users/{userId}/account-services'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'serviceId'] = service_id
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIAccountService'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_service_to_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add tag to test run.
    # @param user_id
    # @param project_id
    # @param run_id
    # @param name
    # @param [Hash] opts the optional parameters
    # @return [APITag]
    def add_test_run_tag(user_id, project_id, run_id, name, opts = {})
      data, _status_code, _headers = add_test_run_tag_with_http_info(user_id, project_id, run_id, name, opts)
      data
    end

    # Add tag to test run.
    # @param user_id
    # @param project_id
    # @param run_id
    # @param name
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITag, Integer, Hash)>] APITag data, response status code and response headers
    def add_test_run_tag_with_http_info(user_id, project_id, run_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_test_run_tag ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_test_run_tag"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AllEndpointsApi.add_test_run_tag"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.add_test_run_tag"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_test_run_tag"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/runs/{runId}/tags'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APITag'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_test_run_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add tag to test run.
    # @param run_id
    # @param name
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id
    # @return [APITag]
    def add_test_run_tag1(run_id, name, opts = {})
      data, _status_code, _headers = add_test_run_tag1_with_http_info(run_id, name, opts)
      data
    end

    # Add tag to test run.
    # @param run_id
    # @param name
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id
    # @return [Array<(APITag, Integer, Hash)>] APITag data, response status code and response headers
    def add_test_run_tag1_with_http_info(run_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_test_run_tag1 ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling AllEndpointsApi.add_test_run_tag1"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AllEndpointsApi.add_test_run_tag1"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/tags'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APITag'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_test_run_tag1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add user to access group.
    # @param user_id
    # @param access_group_id
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def add_user(user_id, access_group_id, email, opts = {})
      data, _status_code, _headers = add_user_with_http_info(user_id, access_group_id, email, opts)
      data
    end

    # Add user to access group.
    # @param user_id
    # @param access_group_id
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def add_user_with_http_info(user_id, access_group_id, email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_user ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AllEndpointsApi.add_user"
      end
      # verify the required parameter 'access_group_id' is set
      if @api_client.config.client_side_validation && access_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'access_group_id' when calling AllEndpointsApi.add_user"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AllEndpointsApi.add_user"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/access-groups/{accessGroupId}/users'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'accessGroupId' + '}', access_group_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add user to access group.
    # @param access_group_id
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def add_user1(access_group_id, email, opts = {})
      data, _status_code, _headers = add_user1_with_http_info(access_group_id, email, opts)
      data
    end

    # Add user to access group.
    # @param access_group_id
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def add_user1_with_http_info(access_group_id, email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.add_user1 ...'
      end
      # verify the required parameter 'access_group_id' is set
      if @api_client.config.client_side_validation && access_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'access_group_id' when calling AllEndpointsApi.add_user1"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AllEndpointsApi.add_user1"
      end
      # resource path
      local_var_path = '/api/v2/access-groups/{accessGroupId}/users'.sub('{' + 'accessGroupId' + '}', access_group_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#add_user1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Archive service.
    # @param service_id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def archive_service(service_id, opts = {})
      archive_service_with_http_info(service_id, opts)
      nil
    end

    # Archive service.
    # @param service_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def archive_service_with_http_info(service_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.archive_service ...'
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling AllEndpointsApi.archive_service"
      end
      # resource path
      local_var_path = '/api/v2/admin/services/{serviceId}'.sub('{' + 'serviceId' + '}', service_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type]

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#archive_service\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create property banning application.
    # @param test_run_id
    # @param [Hash] opts the optional parameters
    # @return [APIProperty]
    def ban_application(test_run_id, opts = {})
      data, _status_code, _headers = ban_application_with_http_info(test_run_id, opts)
      data
    end

    # Create property banning application.
    # @param test_run_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIProperty, Integer, Hash)>] APIProperty data, response status code and response headers
    def ban_application_with_http_info(test_run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.ban_application ...'
      end
      # verify the required parameter 'test_run_id' is set
      if @api_client.config.client_side_validation && test_run_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_run_id' when calling AllEndpointsApi.ban_application"
      end
      # resource path
      local_var_path = '/api/v2/properties/app-bans'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'testRunId'] = test_run_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIProperty'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#ban_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create property banning email domain.
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [APIProperty]
    def ban_email_domain(email, opts = {})
      data, _status_code, _headers = ban_email_domain_with_http_info(email, opts)
      data
    end

    # Create property banning email domain.
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIProperty, Integer, Hash)>] APIProperty data, response status code and response headers
    def ban_email_domain_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.ban_email_domain ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling AllEndpointsApi.ban_email_domain"
      end
      # resource path
      local_var_path = '/api/v2/properties/email-bans'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIProperty'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#ban_email_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Start blinking device screen.
    # @param device_id
    # @param [Hash] opts the optional parameters
    # @return [APIAdminDevice]
    def blink(device_id, opts = {})
      data, _status_code, _headers = blink_with_http_info(device_id, opts)
      data
    end

    # Start blinking device screen.
    # @param device_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAdminDevice, Integer, Hash)>] APIAdminDevice data, response status code and response headers
    def blink_with_http_info(device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AllEndpointsApi.blink ...'
      end
      # verify the required parameter 'device_id' is set
      if @api_client.config.client_side_validation && device_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_id' when calling AllEndpointsApi.blink"
      end
      # resource path
      local_var_path = '/api/v2/admin/devices/{deviceId}/blink'.sub('{' + 'deviceId' + '}', device_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIAdminDevice'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AllEndpointsApi#blink\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Buy service.
    # @param user_id
    # @param service_id
    # @param payment_method
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name
[...]
