=begin
#BitbarCloud API

#BitbarCloud API.

OpenAPI spec version: 2.87.0
Contact: support@bitbar.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.10

=end

require 'uri'

module BitbarCloudApiClient
  class DeprecatedApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @option opts [Integer] :test_run_id testRunId
    # @return [nil]
    def get_cluster_logs_using_get(device_session_id, opts = {})
      get_cluster_logs_using_get_with_http_info(device_session_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @option opts [Integer] :test_run_id testRunId
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_cluster_logs_using_get_with_http_info(device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_cluster_logs_using_get ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_cluster_logs_using_get"
      end
      # resource path
      local_var_path = '/api/v2/device-sessions/{deviceSessionId}/cluster-logs'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'testRunId'] = opts[:'test_run_id'] if !opts[:'test_run_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_cluster_logs_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_cluster_logs_using_get1(device_session_id, run_id, opts = {})
      get_cluster_logs_using_get1_with_http_info(device_session_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_cluster_logs_using_get1_with_http_info(device_session_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_cluster_logs_using_get1 ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_cluster_logs_using_get1"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_cluster_logs_using_get1"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/device-sessions/{deviceSessionId}/cluster-logs'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_cluster_logs_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @option opts [Integer] :test_run_id testRunId
    # @return [nil]
    def get_device_session_data_zip_using_get(device_session_id, opts = {})
      get_device_session_data_zip_using_get_with_http_info(device_session_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @option opts [Integer] :test_run_id testRunId
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_device_session_data_zip_using_get_with_http_info(device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_device_session_data_zip_using_get ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_device_session_data_zip_using_get"
      end
      # resource path
      local_var_path = '/api/v2/device-sessions/{deviceSessionId}/result-data.zip'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'testRunId'] = opts[:'test_run_id'] if !opts[:'test_run_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_device_session_data_zip_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_device_session_data_zip_using_get1(device_session_id, run_id, opts = {})
      get_device_session_data_zip_using_get1_with_http_info(device_session_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_device_session_data_zip_using_get1_with_http_info(device_session_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_device_session_data_zip_using_get1 ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_device_session_data_zip_using_get1"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_device_session_data_zip_using_get1"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/device-sessions/{deviceSessionId}/result-data.zip'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_device_session_data_zip_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @option opts [Integer] :test_run_id testRunId
    # @return [nil]
    def get_device_session_junit_using_get(device_session_id, opts = {})
      get_device_session_junit_using_get_with_http_info(device_session_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @option opts [Integer] :test_run_id testRunId
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_device_session_junit_using_get_with_http_info(device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_device_session_junit_using_get ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_device_session_junit_using_get"
      end
      # resource path
      local_var_path = '/api/v2/device-sessions/{deviceSessionId}/junit.xml'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'testRunId'] = opts[:'test_run_id'] if !opts[:'test_run_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_device_session_junit_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_device_session_junit_using_get1(device_session_id, run_id, opts = {})
      get_device_session_junit_using_get1_with_http_info(device_session_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_device_session_junit_using_get1_with_http_info(device_session_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_device_session_junit_using_get1 ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_device_session_junit_using_get1"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_device_session_junit_using_get1"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/device-sessions/{deviceSessionId}/junit.xml'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_device_session_junit_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @option opts [Integer] :test_run_id testRunId
    # @return [nil]
    def get_device_session_logs_using_get(device_session_id, opts = {})
      get_device_session_logs_using_get_with_http_info(device_session_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @option opts [Integer] :test_run_id testRunId
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_device_session_logs_using_get_with_http_info(device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_device_session_logs_using_get ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_device_session_logs_using_get"
      end
      # resource path
      local_var_path = '/api/v2/device-sessions/{deviceSessionId}/logs'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'testRunId'] = opts[:'test_run_id'] if !opts[:'test_run_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_device_session_logs_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_device_session_logs_using_get1(device_session_id, run_id, opts = {})
      get_device_session_logs_using_get1_with_http_info(device_session_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_device_session_logs_using_get1_with_http_info(device_session_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_device_session_logs_using_get1 ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_device_session_logs_using_get1"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_device_session_logs_using_get1"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/device-sessions/{deviceSessionId}/logs'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_device_session_logs_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @option opts [Integer] :test_run_id testRunId
    # @return [nil]
    def get_device_session_performance_using_get(device_session_id, opts = {})
      get_device_session_performance_using_get_with_http_info(device_session_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @option opts [Integer] :test_run_id testRunId
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_device_session_performance_using_get_with_http_info(device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_device_session_performance_using_get ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_device_session_performance_using_get"
      end
      # resource path
      local_var_path = '/api/v2/device-sessions/{deviceSessionId}/performance'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'testRunId'] = opts[:'test_run_id'] if !opts[:'test_run_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_device_session_performance_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_device_session_performance_using_get1(device_session_id, run_id, opts = {})
      get_device_session_performance_using_get1_with_http_info(device_session_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_device_session_performance_using_get1_with_http_info(device_session_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_device_session_performance_using_get1 ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_device_session_performance_using_get1"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_device_session_performance_using_get1"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/device-sessions/{deviceSessionId}/performance'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_device_session_performance_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_application_file_using_get(project_id, opts = {})
      get_project_application_file_using_get_with_http_info(project_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_application_file_using_get_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_application_file_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_application_file_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/files/application'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_application_file_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_application_file_using_get1(project_id, user_id, opts = {})
      get_project_application_file_using_get1_with_http_info(project_id, user_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_application_file_using_get1_with_http_info(project_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_application_file_using_get1 ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_application_file_using_get1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DeprecatedApi.get_project_application_file_using_get1"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/files/application'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_application_file_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_cluster_logs_using_get(device_session_id, project_id, run_id, opts = {})
      get_project_cluster_logs_using_get_with_http_info(device_session_id, project_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_cluster_logs_using_get_with_http_info(device_session_id, project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_cluster_logs_using_get ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_project_cluster_logs_using_get"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_cluster_logs_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_project_cluster_logs_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/device-sessions/{deviceSessionId}/cluster-logs'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s).sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_cluster_logs_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param [Hash] opts the optional parameters
    # @return [APITestRunConfig]
    def get_project_config_using_get(project_id, opts = {})
      data, _status_code, _headers = get_project_config_using_get_with_http_info(project_id, opts)
      data
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITestRunConfig, Fixnum, Hash)>] APITestRunConfig data, response status code and response headers
    def get_project_config_using_get_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_config_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_config_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/config'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITestRunConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_config_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_data_file_using_get(project_id, opts = {})
      get_project_data_file_using_get_with_http_info(project_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_data_file_using_get_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_data_file_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_data_file_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/files/data'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_data_file_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_data_file_using_get1(project_id, user_id, opts = {})
      get_project_data_file_using_get1_with_http_info(project_id, user_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_data_file_using_get1_with_http_info(project_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_data_file_using_get1 ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_data_file_using_get1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DeprecatedApi.get_project_data_file_using_get1"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/files/data'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_data_file_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_device_session_data_zip_using_get(device_session_id, project_id, run_id, opts = {})
      get_project_device_session_data_zip_using_get_with_http_info(device_session_id, project_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_device_session_data_zip_using_get_with_http_info(device_session_id, project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_device_session_data_zip_using_get ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_project_device_session_data_zip_using_get"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_device_session_data_zip_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_project_device_session_data_zip_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/device-sessions/{deviceSessionId}/result-data.zip'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s).sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_device_session_data_zip_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_device_session_junit_using_get(device_session_id, project_id, run_id, opts = {})
      get_project_device_session_junit_using_get_with_http_info(device_session_id, project_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_device_session_junit_using_get_with_http_info(device_session_id, project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_device_session_junit_using_get ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_project_device_session_junit_using_get"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_device_session_junit_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_project_device_session_junit_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/device-sessions/{deviceSessionId}/junit.xml'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s).sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_device_session_junit_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_device_session_logs_using_get(device_session_id, project_id, run_id, opts = {})
      get_project_device_session_logs_using_get_with_http_info(device_session_id, project_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_device_session_logs_using_get_with_http_info(device_session_id, project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_device_session_logs_using_get ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_project_device_session_logs_using_get"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_device_session_logs_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_project_device_session_logs_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/device-sessions/{deviceSessionId}/logs'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s).sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_device_session_logs_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_device_session_performance_using_get(device_session_id, project_id, run_id, opts = {})
      get_project_device_session_performance_using_get_with_http_info(device_session_id, project_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param device_session_id deviceSessionId
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_device_session_performance_using_get_with_http_info(device_session_id, project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_device_session_performance_using_get ...'
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling DeprecatedApi.get_project_device_session_performance_using_get"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_device_session_performance_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_project_device_session_performance_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/device-sessions/{deviceSessionId}/performance'.sub('{' + 'deviceSessionId' + '}', device_session_id.to_s).sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_device_session_performance_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_file_zip_using_get(project_id, opts = {})
      get_project_file_zip_using_get_with_http_info(project_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_file_zip_using_get_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_file_zip_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_file_zip_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/files.zip'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_file_zip_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_file_zip_using_get1(project_id, user_id, opts = {})
      get_project_file_zip_using_get1_with_http_info(project_id, user_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_file_zip_using_get1_with_http_info(project_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_file_zip_using_get1 ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_file_zip_using_get1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DeprecatedApi.get_project_file_zip_using_get1"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/files.zip'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_file_zip_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param [Hash] opts the optional parameters
    # @return [APIListOfAPIUserFile]
    def get_project_files_using_get(project_id, opts = {})
      data, _status_code, _headers = get_project_files_using_get_with_http_info(project_id, opts)
      data
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIListOfAPIUserFile, Fixnum, Hash)>] APIListOfAPIUserFile data, response status code and response headers
    def get_project_files_using_get_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_files_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_files_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/files'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIListOfAPIUserFile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_files_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [APIListOfAPIUserFile]
    def get_project_files_using_get1(project_id, user_id, opts = {})
      data, _status_code, _headers = get_project_files_using_get1_with_http_info(project_id, user_id, opts)
      data
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIListOfAPIUserFile, Fixnum, Hash)>] APIListOfAPIUserFile data, response status code and response headers
    def get_project_files_using_get1_with_http_info(project_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_files_using_get1 ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_files_using_get1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DeprecatedApi.get_project_files_using_get1"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/files'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIListOfAPIUserFile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_files_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_test_file_using_get(project_id, opts = {})
      get_project_test_file_using_get_with_http_info(project_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_test_file_using_get_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_test_file_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_test_file_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/files/test'.sub('{' + 'projectId' + '}', project_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_test_file_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_test_file_using_get1(project_id, user_id, opts = {})
      get_project_test_file_using_get1_with_http_info(project_id, user_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_test_file_using_get1_with_http_info(project_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_test_file_using_get1 ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_test_file_using_get1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DeprecatedApi.get_project_test_file_using_get1"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/files/test'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_test_file_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_test_run_application_file_using_get(project_id, run_id, opts = {})
      get_project_test_run_application_file_using_get_with_http_info(project_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_test_run_application_file_using_get_with_http_info(project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_test_run_application_file_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_test_run_application_file_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_project_test_run_application_file_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/files/application'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_test_run_application_file_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [APITestRunConfig]
    def get_project_test_run_config_using_get(project_id, run_id, opts = {})
      data, _status_code, _headers = get_project_test_run_config_using_get_with_http_info(project_id, run_id, opts)
      data
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITestRunConfig, Fixnum, Hash)>] APITestRunConfig data, response status code and response headers
    def get_project_test_run_config_using_get_with_http_info(project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_test_run_config_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_test_run_config_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_project_test_run_config_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/config'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITestRunConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_test_run_config_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_test_run_data_file_using_get(project_id, run_id, opts = {})
      get_project_test_run_data_file_using_get_with_http_info(project_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_test_run_data_file_using_get_with_http_info(project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_test_run_data_file_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_test_run_data_file_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_project_test_run_data_file_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/files/data'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_test_run_data_file_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_test_run_file_zip_using_get(project_id, run_id, opts = {})
      get_project_test_run_file_zip_using_get_with_http_info(project_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_test_run_file_zip_using_get_with_http_info(project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_test_run_file_zip_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_test_run_file_zip_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_project_test_run_file_zip_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/files.zip'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_test_run_file_zip_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [APIListOfAPIUserFile]
    def get_project_test_run_files_using_get(project_id, run_id, opts = {})
      data, _status_code, _headers = get_project_test_run_files_using_get_with_http_info(project_id, run_id, opts)
      data
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIListOfAPIUserFile, Fixnum, Hash)>] APIListOfAPIUserFile data, response status code and response headers
    def get_project_test_run_files_using_get_with_http_info(project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_test_run_files_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_test_run_files_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_project_test_run_files_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/files'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIListOfAPIUserFile')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_test_run_files_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_project_test_run_test_file_using_get(project_id, run_id, opts = {})
      get_project_test_run_test_file_using_get_with_http_info(project_id, run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_project_test_run_test_file_using_get_with_http_info(project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_project_test_run_test_file_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_project_test_run_test_file_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_project_test_run_test_file_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/files/test'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_project_test_run_test_file_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [nil]
    def get_test_run_application_file_using_get(run_id, opts = {})
      get_test_run_application_file_using_get_with_http_info(run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_test_run_application_file_using_get_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_test_run_application_file_using_get ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_test_run_application_file_using_get"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/files/application'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_test_run_application_file_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_test_run_application_file_using_get1(project_id, run_id, user_id, opts = {})
      get_test_run_application_file_using_get1_with_http_info(project_id, run_id, user_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_test_run_application_file_using_get1_with_http_info(project_id, run_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_test_run_application_file_using_get1 ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_test_run_application_file_using_get1"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_test_run_application_file_using_get1"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DeprecatedApi.get_test_run_application_file_using_get1"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/runs/{runId}/files/application'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_test_run_application_file_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [APITestRunConfig]
    def get_test_run_config_using_get(run_id, opts = {})
      data, _status_code, _headers = get_test_run_config_using_get_with_http_info(run_id, opts)
      data
    end

    # This endpoint is deprecated.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [Array<(APITestRunConfig, Fixnum, Hash)>] APITestRunConfig data, response status code and response headers
    def get_test_run_config_using_get_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_test_run_config_using_get ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_test_run_config_using_get"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/config'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITestRunConfig')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_test_run_config_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [APITestRunDataAvailability]
    def get_test_run_data_availability_with_project_using_get(project_id, run_id, opts = {})
      data, _status_code, _headers = get_test_run_data_availability_with_project_using_get_with_http_info(project_id, run_id, opts)
      data
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITestRunDataAvailability, Fixnum, Hash)>] APITestRunDataAvailability data, response status code and response headers
    def get_test_run_data_availability_with_project_using_get_with_http_info(project_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_test_run_data_availability_with_project_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_test_run_data_availability_with_project_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_test_run_data_availability_with_project_using_get"
      end
      # resource path
      local_var_path = '/api/v2/projects/{projectId}/runs/{runId}/data-availability'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITestRunDataAvailability')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_test_run_data_availability_with_project_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @option opts [Integer] :user_id userId
    # @return [APITestRunDataAvailability]
    def get_test_run_data_availability_with_test_run_using_get(run_id, opts = {})
      data, _status_code, _headers = get_test_run_data_availability_with_test_run_using_get_with_http_info(run_id, opts)
      data
    end

    # This endpoint is deprecated.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @option opts [Integer] :user_id userId
    # @return [Array<(APITestRunDataAvailability, Fixnum, Hash)>] APITestRunDataAvailability data, response status code and response headers
    def get_test_run_data_availability_with_test_run_using_get_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_test_run_data_availability_with_test_run_using_get ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_test_run_data_availability_with_test_run_using_get"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/data-availability'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITestRunDataAvailability')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_test_run_data_availability_with_test_run_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [APITestRunDataAvailability]
    def get_test_run_data_availability_with_user_using_get(project_id, run_id, user_id, opts = {})
      data, _status_code, _headers = get_test_run_data_availability_with_user_using_get_with_http_info(project_id, run_id, user_id, opts)
      data
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITestRunDataAvailability, Fixnum, Hash)>] APITestRunDataAvailability data, response status code and response headers
    def get_test_run_data_availability_with_user_using_get_with_http_info(project_id, run_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_test_run_data_availability_with_user_using_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_test_run_data_availability_with_user_using_get"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_test_run_data_availability_with_user_using_get"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling DeprecatedApi.get_test_run_data_availability_with_user_using_get"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/projects/{projectId}/runs/{runId}/data-availability'.sub('{' + 'projectId' + '}', project_id.to_s).sub('{' + 'runId' + '}', run_id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APITestRunDataAvailability')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_test_run_data_availability_with_user_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [nil]
    def get_test_run_data_file_using_get(run_id, opts = {})
      get_test_run_data_file_using_get_with_http_info(run_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param run_id runId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_test_run_data_file_using_get_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_test_run_data_file_using_get ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling DeprecatedApi.get_test_run_data_file_using_get"
      end
      # resource path
      local_var_path = '/api/v2/runs/{runId}/files/data'.sub('{' + 'runId' + '}', run_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeprecatedApi#get_test_run_data_file_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_test_run_data_file_using_get1(project_id, run_id, user_id, opts = {})
      get_test_run_data_file_using_get1_with_http_info(project_id, run_id, user_id, opts)
      nil
    end

    # This endpoint is deprecated.
    # @param project_id projectId
    # @param run_id runId
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def get_test_run_data_file_using_get1_with_http_info(project_id, run_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeprecatedApi.get_test_run_data_file_using_get1 ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling DeprecatedApi.get_test_run_data_file_using_get1"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
[...]
