=begin
#BitbarCloud API

#BitbarCloud API.

OpenAPI spec version: 2.100.0
Contact: damian.sniezek@smartbear.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.13

=end

require 'uri'

module BitbarCloudApiClient
  class NotificationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create notification.
    # @param channel channel
    # @param destination destination
    # @param scope scope
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [APINotification]
    def create_user_notification_using_post(channel, destination, scope, user_id, opts = {})
      data, _status_code, _headers = create_user_notification_using_post_with_http_info(channel, destination, scope, user_id, opts)
      data
    end

    # Create notification.
    # @param channel channel
    # @param destination destination
    # @param scope scope
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id projectId
    # @return [Array<(APINotification, Fixnum, Hash)>] APINotification data, response status code and response headers
    def create_user_notification_using_post_with_http_info(channel, destination, scope, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NotificationsApi.create_user_notification_using_post ...'
      end
      # verify the required parameter 'channel' is set
      if @api_client.config.client_side_validation && channel.nil?
        fail ArgumentError, "Missing the required parameter 'channel' when calling NotificationsApi.create_user_notification_using_post"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['SLACK', 'EMAIL', 'WEBHOOK'].include?(channel)
        fail ArgumentError, "invalid value for 'channel', must be one of SLACK, EMAIL, WEBHOOK"
      end
      # verify the required parameter 'destination' is set
      if @api_client.config.client_side_validation && destination.nil?
        fail ArgumentError, "Missing the required parameter 'destination' when calling NotificationsApi.create_user_notification_using_post"
      end
      # verify the required parameter 'scope' is set
      if @api_client.config.client_side_validation && scope.nil?
        fail ArgumentError, "Missing the required parameter 'scope' when calling NotificationsApi.create_user_notification_using_post"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['ALL', 'TEST_RUN', 'TEST_RUN_FAILURE', 'TEST_RUN_SUCCEEDED', 'MAINTENANCE', 'MAINTENANCE_RELEASE', 'CUSTOM', 'NEWS', 'SYSTEM', 'CHECK', 'PLAN_LIMIT_REACHED', 'PLAN_INVOICE'].include?(scope)
        fail ArgumentError, "invalid value for 'scope', must be one of ALL, TEST_RUN, TEST_RUN_FAILURE, TEST_RUN_SUCCEEDED, MAINTENANCE, MAINTENANCE_RELEASE, CUSTOM, NEWS, SYSTEM, CHECK, PLAN_LIMIT_REACHED, PLAN_INVOICE"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling NotificationsApi.create_user_notification_using_post"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/notifications'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'channel'] = channel
      query_params[:'destination'] = destination
      query_params[:'scope'] = scope
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APINotification')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#create_user_notification_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete notification.
    # @param id id
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_user_notification_email_using_delete(id, user_id, opts = {})
      delete_user_notification_email_using_delete_with_http_info(id, user_id, opts)
      nil
    end

    # Delete notification.
    # @param id id
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_user_notification_email_using_delete_with_http_info(id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NotificationsApi.delete_user_notification_email_using_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling NotificationsApi.delete_user_notification_email_using_delete"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling NotificationsApi.delete_user_notification_email_using_delete"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/notifications/{id}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#delete_user_notification_email_using_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get notification channels.
    # @param [Hash] opts the optional parameters
    # @return [APIListOfAPIEnum]
    def get_channels_using_get1(opts = {})
      data, _status_code, _headers = get_channels_using_get1_with_http_info(opts)
      data
    end

    # Get notification channels.
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIListOfAPIEnum, Fixnum, Hash)>] APIListOfAPIEnum data, response status code and response headers
    def get_channels_using_get1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NotificationsApi.get_channels_using_get1 ...'
      end
      # resource path
      local_var_path = '/api/v2/users/*/notifications/channels'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIListOfAPIEnum')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#get_channels_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get notification scopes.
    # @param [Hash] opts the optional parameters
    # @return [APIListOfAPIEnum]
    def get_scopes_using_get1(opts = {})
      data, _status_code, _headers = get_scopes_using_get1_with_http_info(opts)
      data
    end

    # Get notification scopes.
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIListOfAPIEnum, Fixnum, Hash)>] APIListOfAPIEnum data, response status code and response headers
    def get_scopes_using_get1_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NotificationsApi.get_scopes_using_get1 ...'
      end
      # resource path
      local_var_path = '/api/v2/users/*/notifications/scopes'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIListOfAPIEnum')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#get_scopes_using_get1\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get notification.
    # @param id id
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [APINotification]
    def get_user_notification_using_get(id, user_id, opts = {})
      data, _status_code, _headers = get_user_notification_using_get_with_http_info(id, user_id, opts)
      data
    end

    # Get notification.
    # @param id id
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APINotification, Fixnum, Hash)>] APINotification data, response status code and response headers
    def get_user_notification_using_get_with_http_info(id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NotificationsApi.get_user_notification_using_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling NotificationsApi.get_user_notification_using_get"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling NotificationsApi.get_user_notification_using_get"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/notifications/{id}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APINotification')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#get_user_notification_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get notifications.
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;scope_eq_all&lt;br&gt;filter&#x3D;channel_eq_slack&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;userid_eq_1&lt;br&gt;filter&#x3D;projectid_eq_1
    # @option opts [Integer] :limit limit parameter define page size (default to 20)
    # @option opts [Integer] :offset offset parameter define page number (default to 0)
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;scope_a&lt;br&gt;sort&#x3D;channel_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;userId_a&lt;br&gt;sort&#x3D;projectId_a
    # @return [APIListOfAPINotification]
    def get_user_notifications_using_get(user_id, opts = {})
      data, _status_code, _headers = get_user_notifications_using_get_with_http_info(user_id, opts)
      data
    end

    # Get notifications.
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;scope_eq_all&lt;br&gt;filter&#x3D;channel_eq_slack&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;userid_eq_1&lt;br&gt;filter&#x3D;projectid_eq_1
    # @option opts [Integer] :limit limit parameter define page size
    # @option opts [Integer] :offset offset parameter define page number
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;scope_a&lt;br&gt;sort&#x3D;channel_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;userId_a&lt;br&gt;sort&#x3D;projectId_a
    # @return [Array<(APIListOfAPINotification, Fixnum, Hash)>] APIListOfAPINotification data, response status code and response headers
    def get_user_notifications_using_get_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NotificationsApi.get_user_notifications_using_get ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling NotificationsApi.get_user_notifications_using_get"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/notifications'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIListOfAPINotification')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#get_user_notifications_using_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Test notification.
    # @param id id
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [APIMessage]
    def test_user_notification_using_post(id, user_id, opts = {})
      data, _status_code, _headers = test_user_notification_using_post_with_http_info(id, user_id, opts)
      data
    end

    # Test notification.
    # @param id id
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIMessage, Fixnum, Hash)>] APIMessage data, response status code and response headers
    def test_user_notification_using_post_with_http_info(id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NotificationsApi.test_user_notification_using_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling NotificationsApi.test_user_notification_using_post"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling NotificationsApi.test_user_notification_using_post"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/notifications/{id}/test'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APIMessage')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#test_user_notification_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update notification.
    # @param id id
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :destination destination
    # @option opts [String] :scope scope
    # @return [APINotification]
    def update_user_notification_using_post(id, user_id, opts = {})
      data, _status_code, _headers = update_user_notification_using_post_with_http_info(id, user_id, opts)
      data
    end

    # Update notification.
    # @param id id
    # @param user_id userId
    # @param [Hash] opts the optional parameters
    # @option opts [String] :destination destination
    # @option opts [String] :scope scope
    # @return [Array<(APINotification, Fixnum, Hash)>] APINotification data, response status code and response headers
    def update_user_notification_using_post_with_http_info(id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NotificationsApi.update_user_notification_using_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling NotificationsApi.update_user_notification_using_post"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling NotificationsApi.update_user_notification_using_post"
      end
      if @api_client.config.client_side_validation && opts[:'scope'] && !['ALL', 'TEST_RUN', 'TEST_RUN_FAILURE', 'TEST_RUN_SUCCEEDED', 'MAINTENANCE', 'MAINTENANCE_RELEASE', 'CUSTOM', 'NEWS', 'SYSTEM', 'CHECK', 'PLAN_LIMIT_REACHED', 'PLAN_INVOICE'].include?(opts[:'scope'])
        fail ArgumentError, 'invalid value for "scope", must be one of ALL, TEST_RUN, TEST_RUN_FAILURE, TEST_RUN_SUCCEEDED, MAINTENANCE, MAINTENANCE_RELEASE, CUSTOM, NEWS, SYSTEM, CHECK, PLAN_LIMIT_REACHED, PLAN_INVOICE'
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/notifications/{id}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'destination'] = opts[:'destination'] if !opts[:'destination'].nil?
      query_params[:'scope'] = opts[:'scope'] if !opts[:'scope'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['apiKeyInHeader', 'oAuth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'APINotification')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NotificationsApi#update_user_notification_using_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
