=begin
#BitbarCloud API

#BitbarCloud API

OpenAPI spec version: 3.24.1-master-20231027-124207

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.50
=end

module BitbarCloudApiClient
  class RunningTestsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create connection for device session.
    # @param user_id
    # @param device_session_id
    # @param host
    # @param port
    # @param type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :password
    # @return [APIConnection]
    def create_device_session_connection(user_id, device_session_id, host, port, type, opts = {})
      data, _status_code, _headers = create_device_session_connection_with_http_info(user_id, device_session_id, host, port, type, opts)
      data
    end

    # Create connection for device session.
    # @param user_id
    # @param device_session_id
    # @param host
    # @param port
    # @param type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :password
    # @return [Array<(APIConnection, Integer, Hash)>] APIConnection data, response status code and response headers
    def create_device_session_connection_with_http_info(user_id, device_session_id, host, port, type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunningTestsApi.create_device_session_connection ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RunningTestsApi.create_device_session_connection"
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling RunningTestsApi.create_device_session_connection"
      end
      # verify the required parameter 'host' is set
      if @api_client.config.client_side_validation && host.nil?
        fail ArgumentError, "Missing the required parameter 'host' when calling RunningTestsApi.create_device_session_connection"
      end
      # verify the required parameter 'port' is set
      if @api_client.config.client_side_validation && port.nil?
        fail ArgumentError, "Missing the required parameter 'port' when calling RunningTestsApi.create_device_session_connection"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling RunningTestsApi.create_device_session_connection"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/device-sessions/{deviceSessionId}/connections'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'host'] = host
      query_params[:'port'] = port
      query_params[:'type'] = type
      query_params[:'password'] = opts[:'password'] if !opts[:'password'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIConnection'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunningTestsApi#create_device_session_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create device session.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [APIDeviceSessionConfig] :body
    # @option opts [Integer] :device_model_id
    # @option opts [String] :type
    # @option opts [String] :browser_name
    # @option opts [String] :browser_version
    # @option opts [String] :screen_resolution
    # @option opts [String] :url
    # @return [APIDeviceSession]
    def create_inspector_device_session(user_id, opts = {})
      data, _status_code, _headers = create_inspector_device_session_with_http_info(user_id, opts)
      data
    end

    # Create device session.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [APIDeviceSessionConfig] :body
    # @option opts [Integer] :device_model_id
    # @option opts [String] :type
    # @option opts [String] :browser_name
    # @option opts [String] :browser_version
    # @option opts [String] :screen_resolution
    # @option opts [String] :url
    # @return [Array<(APIDeviceSession, Integer, Hash)>] APIDeviceSession data, response status code and response headers
    def create_inspector_device_session_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunningTestsApi.create_inspector_device_session ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RunningTestsApi.create_inspector_device_session"
      end
      if @api_client.config.client_side_validation && opts[:'type'] && !['AUTOMATIC', 'MANUAL_APP', 'MANUAL_WEB', 'REMOTE'].include?(opts[:'type'])
        fail ArgumentError, 'invalid value for "type", must be one of AUTOMATIC, MANUAL_APP, MANUAL_WEB, REMOTE'
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/device-sessions'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceModelId'] = opts[:'device_model_id'] if !opts[:'device_model_id'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'browserName'] = opts[:'browser_name'] if !opts[:'browser_name'].nil?
      query_params[:'browserVersion'] = opts[:'browser_version'] if !opts[:'browser_version'].nil?
      query_params[:'screenResolution'] = opts[:'screen_resolution'] if !opts[:'screen_resolution'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body'])

      return_type = opts[:return_type] || 'APIDeviceSession'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunningTestsApi#create_inspector_device_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create or update VisualTests access.
    # @param body
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [APIVisualTestAccess]
    def create_or_update_visual_test_access(body, user_id, opts = {})
      data, _status_code, _headers = create_or_update_visual_test_access_with_http_info(body, user_id, opts)
      data
    end

    # Create or update VisualTests access.
    # @param body
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIVisualTestAccess, Integer, Hash)>] APIVisualTestAccess data, response status code and response headers
    def create_or_update_visual_test_access_with_http_info(body, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunningTestsApi.create_or_update_visual_test_access ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling RunningTestsApi.create_or_update_visual_test_access"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RunningTestsApi.create_or_update_visual_test_access"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/account/visualtest/access'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body)

      return_type = opts[:return_type] || 'APIVisualTestAccess'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunningTestsApi#create_or_update_visual_test_access\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete users tunnel.
    # @param user_id
    # @param tunnel_id
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(user_id, tunnel_id, opts = {})
      delete_with_http_info(user_id, tunnel_id, opts)
      nil
    end

    # Delete users tunnel.
    # @param user_id
    # @param tunnel_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_with_http_info(user_id, tunnel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunningTestsApi.delete ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RunningTestsApi.delete"
      end
      # verify the required parameter 'tunnel_id' is set
      if @api_client.config.client_side_validation && tunnel_id.nil?
        fail ArgumentError, "Missing the required parameter 'tunnel_id' when calling RunningTestsApi.delete"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/tunnels/{tunnelId}'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'tunnelId' + '}', tunnel_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type]

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunningTestsApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get users tunnels.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :active
    # @return [APIListAPISmartbearTunnel]
    def get(user_id, opts = {})
      data, _status_code, _headers = get_with_http_info(user_id, opts)
      data
    end

    # Get users tunnels.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :active
    # @return [Array<(APIListAPISmartbearTunnel, Integer, Hash)>] APIListAPISmartbearTunnel data, response status code and response headers
    def get_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunningTestsApi.get ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RunningTestsApi.get"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/tunnels'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIListAPISmartbearTunnel'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunningTestsApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get available frameworks.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;canRunFromUI_a&lt;br&gt;sort&#x3D;retryable_a&lt;br&gt;sort&#x3D;skipQueue_a&lt;br&gt;sort&#x3D;forProjects_a&lt;br&gt;sort&#x3D;description_a&lt;br&gt;sort&#x3D;mainUserEmail_a&lt;br&gt;sort&#x3D;type_a&lt;br&gt;sort&#x3D;accountId_a&lt;br&gt;sort&#x3D;labelId_a&lt;br&gt;sort&#x3D;createTime_a&lt;br&gt;sort&#x3D;jobConfigId_a&lt;br&gt;sort&#x3D;name_a&lt;br&gt;sort&#x3D;osType_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;labelName_a&lt;br&gt;sort&#x3D;secured_a&lt;br&gt;sort&#x3D;skipOlderSdk_a
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;canrunfromui_eq_true&lt;br&gt;filter&#x3D;retryable_eq_true&lt;br&gt;filter&#x3D;skipqueue_eq_true&lt;br&gt;filter&#x3D;forprojects_eq_true&lt;br&gt;filter&#x3D;description_eq_value&lt;br&gt;filter&#x3D;mainuseremail_eq_value&lt;br&gt;filter&#x3D;type_eq_value&lt;br&gt;filter&#x3D;accountid_eq_1&lt;br&gt;filter&#x3D;labelid_eq_1&lt;br&gt;filter&#x3D;createtime_eq_1700230364439&lt;br&gt;filter&#x3D;jobconfigid_eq_1&lt;br&gt;filter&#x3D;name_eq_value&lt;br&gt;filter&#x3D;ostype_eq_ios&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;labelname_eq_value&lt;br&gt;filter&#x3D;secured_eq_true&lt;br&gt;filter&#x3D;skipoldersdk_eq_true
    # @option opts [String] :offset offset parameter define page number (default to 0)
    # @option opts [String] :limit limit parameter define page size (default to 20)
    # @return [APIListAPIFramework]
    def get_available_frameworks(user_id, opts = {})
      data, _status_code, _headers = get_available_frameworks_with_http_info(user_id, opts)
      data
    end

    # Get available frameworks.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;canRunFromUI_a&lt;br&gt;sort&#x3D;retryable_a&lt;br&gt;sort&#x3D;skipQueue_a&lt;br&gt;sort&#x3D;forProjects_a&lt;br&gt;sort&#x3D;description_a&lt;br&gt;sort&#x3D;mainUserEmail_a&lt;br&gt;sort&#x3D;type_a&lt;br&gt;sort&#x3D;accountId_a&lt;br&gt;sort&#x3D;labelId_a&lt;br&gt;sort&#x3D;createTime_a&lt;br&gt;sort&#x3D;jobConfigId_a&lt;br&gt;sort&#x3D;name_a&lt;br&gt;sort&#x3D;osType_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;labelName_a&lt;br&gt;sort&#x3D;secured_a&lt;br&gt;sort&#x3D;skipOlderSdk_a
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;canrunfromui_eq_true&lt;br&gt;filter&#x3D;retryable_eq_true&lt;br&gt;filter&#x3D;skipqueue_eq_true&lt;br&gt;filter&#x3D;forprojects_eq_true&lt;br&gt;filter&#x3D;description_eq_value&lt;br&gt;filter&#x3D;mainuseremail_eq_value&lt;br&gt;filter&#x3D;type_eq_value&lt;br&gt;filter&#x3D;accountid_eq_1&lt;br&gt;filter&#x3D;labelid_eq_1&lt;br&gt;filter&#x3D;createtime_eq_1700230364439&lt;br&gt;filter&#x3D;jobconfigid_eq_1&lt;br&gt;filter&#x3D;name_eq_value&lt;br&gt;filter&#x3D;ostype_eq_ios&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;labelname_eq_value&lt;br&gt;filter&#x3D;secured_eq_true&lt;br&gt;filter&#x3D;skipoldersdk_eq_true
    # @option opts [String] :offset offset parameter define page number
    # @option opts [String] :limit limit parameter define page size
    # @return [Array<(APIListAPIFramework, Integer, Hash)>] APIListAPIFramework data, response status code and response headers
    def get_available_frameworks_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunningTestsApi.get_available_frameworks ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RunningTestsApi.get_available_frameworks"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/available-frameworks'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIListAPIFramework'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunningTestsApi#get_available_frameworks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get connections for device session.
    # @param user_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;path_a&lt;br&gt;sort&#x3D;password_a&lt;br&gt;sort&#x3D;urlSchema_a&lt;br&gt;sort&#x3D;deviceSessionId_a&lt;br&gt;sort&#x3D;createTime_a&lt;br&gt;sort&#x3D;port_a&lt;br&gt;sort&#x3D;host_a&lt;br&gt;sort&#x3D;_endTime_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;type_a
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;path_eq_value&lt;br&gt;filter&#x3D;password_eq_value&lt;br&gt;filter&#x3D;urlschema_eq_value&lt;br&gt;filter&#x3D;devicesessionid_eq_1&lt;br&gt;filter&#x3D;createtime_eq_1700230364360&lt;br&gt;filter&#x3D;port_eq_1&lt;br&gt;filter&#x3D;host_eq_value&lt;br&gt;filter&#x3D;_endtime_eq_1700230364360&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;type_eq_value
    # @option opts [String] :offset offset parameter define page number (default to 0)
    # @option opts [String] :limit limit parameter define page size (default to 20)
    # @return [APIListAPIConnection]
    def get_device_session_connections(user_id, device_session_id, opts = {})
      data, _status_code, _headers = get_device_session_connections_with_http_info(user_id, device_session_id, opts)
      data
    end

    # Get connections for device session.
    # @param user_id
    # @param device_session_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;path_a&lt;br&gt;sort&#x3D;password_a&lt;br&gt;sort&#x3D;urlSchema_a&lt;br&gt;sort&#x3D;deviceSessionId_a&lt;br&gt;sort&#x3D;createTime_a&lt;br&gt;sort&#x3D;port_a&lt;br&gt;sort&#x3D;host_a&lt;br&gt;sort&#x3D;_endTime_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;type_a
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;path_eq_value&lt;br&gt;filter&#x3D;password_eq_value&lt;br&gt;filter&#x3D;urlschema_eq_value&lt;br&gt;filter&#x3D;devicesessionid_eq_1&lt;br&gt;filter&#x3D;createtime_eq_1700230364360&lt;br&gt;filter&#x3D;port_eq_1&lt;br&gt;filter&#x3D;host_eq_value&lt;br&gt;filter&#x3D;_endtime_eq_1700230364360&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;type_eq_value
    # @option opts [String] :offset offset parameter define page number
    # @option opts [String] :limit limit parameter define page size
    # @return [Array<(APIListAPIConnection, Integer, Hash)>] APIListAPIConnection data, response status code and response headers
    def get_device_session_connections_with_http_info(user_id, device_session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunningTestsApi.get_device_session_connections ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RunningTestsApi.get_device_session_connections"
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling RunningTestsApi.get_device_session_connections"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/device-sessions/{deviceSessionId}/connections'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'deviceSessionId' + '}', device_session_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIListAPIConnection'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunningTestsApi#get_device_session_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get connection for device session.
    # @param user_id
    # @param device_session_id
    # @param connection_id
    # @param [Hash] opts the optional parameters
    # @return [APIConnection]
    def get_user_inspector_device_session_connection(user_id, device_session_id, connection_id, opts = {})
      data, _status_code, _headers = get_user_inspector_device_session_connection_with_http_info(user_id, device_session_id, connection_id, opts)
      data
    end

    # Get connection for device session.
    # @param user_id
    # @param device_session_id
    # @param connection_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIConnection, Integer, Hash)>] APIConnection data, response status code and response headers
    def get_user_inspector_device_session_connection_with_http_info(user_id, device_session_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunningTestsApi.get_user_inspector_device_session_connection ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RunningTestsApi.get_user_inspector_device_session_connection"
      end
      # verify the required parameter 'device_session_id' is set
      if @api_client.config.client_side_validation && device_session_id.nil?
        fail ArgumentError, "Missing the required parameter 'device_session_id' when calling RunningTestsApi.get_user_inspector_device_session_connection"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling RunningTestsApi.get_user_inspector_device_session_connection"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/device-sessions/{deviceSessionId}/connections/{connectionId}'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'deviceSessionId' + '}', device_session_id.to_s).sub('{' + 'connectionId' + '}', connection_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIConnection'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunningTestsApi#get_user_inspector_device_session_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get VisualTests enabled status.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [APIVisualTestAccess]
    def get_visual_test_access(user_id, opts = {})
      data, _status_code, _headers = get_visual_test_access_with_http_info(user_id, opts)
      data
    end

    # Get VisualTests enabled status.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIVisualTestAccess, Integer, Hash)>] APIVisualTestAccess data, response status code and response headers
    def get_visual_test_access_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunningTestsApi.get_visual_test_access ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RunningTestsApi.get_visual_test_access"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/account/visualtest/access'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIVisualTestAccess'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunningTestsApi#get_visual_test_access\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Run test run.
    # @param body
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [APITestRun]
    def run_user_test_run(body, user_id, opts = {})
      data, _status_code, _headers = run_user_test_run_with_http_info(body, user_id, opts)
      data
    end

    # Run test run.
    # @param body
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APITestRun, Integer, Hash)>] APITestRun data, response status code and response headers
    def run_user_test_run_with_http_info(body, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunningTestsApi.run_user_test_run ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling RunningTestsApi.run_user_test_run"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RunningTestsApi.run_user_test_run"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/runs'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body)

      return_type = opts[:return_type] || 'APITestRun'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunningTestsApi#run_user_test_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Validate test run configuration.
    # @param body
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :include_devices  (default to false)
    # @option opts [BOOLEAN] :include_device_groups  (default to true)
    # @option opts [BOOLEAN] :include_frameworks  (default to true)
    # @return [APITestRunConfig]
    def validate_test_run_config(body, user_id, opts = {})
      data, _status_code, _headers = validate_test_run_config_with_http_info(body, user_id, opts)
      data
    end

    # Validate test run configuration.
    # @param body
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :include_devices
    # @option opts [BOOLEAN] :include_device_groups
    # @option opts [BOOLEAN] :include_frameworks
    # @return [Array<(APITestRunConfig, Integer, Hash)>] APITestRunConfig data, response status code and response headers
    def validate_test_run_config_with_http_info(body, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunningTestsApi.validate_test_run_config ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling RunningTestsApi.validate_test_run_config"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RunningTestsApi.validate_test_run_config"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/runs/config'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeDevices'] = opts[:'include_devices'] if !opts[:'include_devices'].nil?
      query_params[:'includeDeviceGroups'] = opts[:'include_device_groups'] if !opts[:'include_device_groups'].nil?
      query_params[:'includeFrameworks'] = opts[:'include_frameworks'] if !opts[:'include_frameworks'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body)

      return_type = opts[:return_type] || 'APITestRunConfig'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunningTestsApi#validate_test_run_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
