=begin
#BitbarCloud API

#BitbarCloud API

OpenAPI spec version: 3.24.1-master-20231027-124207

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.50
=end

module BitbarCloudApiClient
  class UsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate user after registration.
    # @param email
    # @param key
    # @param password
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name
    # @option opts [String] :last_name
    # @option opts [String] :phone
    # @option opts [String] :organization
    # @option opts [String] :country
    # @option opts [String] :city
    # @option opts [String] :state
    # @option opts [String] :address
    # @option opts [String] :zip
    # @return [APIUser]
    def activate(email, key, password, opts = {})
      data, _status_code, _headers = activate_with_http_info(email, key, password, opts)
      data
    end

    # Activate user after registration.
    # @param email
    # @param key
    # @param password
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name
    # @option opts [String] :last_name
    # @option opts [String] :phone
    # @option opts [String] :organization
    # @option opts [String] :country
    # @option opts [String] :city
    # @option opts [String] :state
    # @option opts [String] :address
    # @option opts [String] :zip
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def activate_with_http_info(email, key, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.activate ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling UsersApi.activate"
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling UsersApi.activate"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling UsersApi.activate"
      end
      # resource path
      local_var_path = '/api/v2/users/activate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email
      query_params[:'key'] = key
      query_params[:'password'] = password
      query_params[:'firstName'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'lastName'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'phone'] = opts[:'phone'] if !opts[:'phone'].nil?
      query_params[:'organization'] = opts[:'organization'] if !opts[:'organization'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'address'] = opts[:'address'] if !opts[:'address'].nil?
      query_params[:'zip'] = opts[:'zip'] if !opts[:'zip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#activate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add additional user.
    # @param user_id
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def add_additional_user(user_id, email, opts = {})
      data, _status_code, _headers = add_additional_user_with_http_info(user_id, email, opts)
      data
    end

    # Add additional user.
    # @param user_id
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def add_additional_user_with_http_info(user_id, email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.add_additional_user ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.add_additional_user"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling UsersApi.add_additional_user"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/account/additional-users'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#add_additional_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create feedback email.
    # @param content
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [UserIdFeedbackBody] :body
    # @return [nil]
    def create_feedback_form_email(content, user_id, opts = {})
      create_feedback_form_email_with_http_info(content, user_id, opts)
      nil
    end

    # Create feedback email.
    # @param content
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [UserIdFeedbackBody] :body
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_feedback_form_email_with_http_info(content, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.create_feedback_form_email ...'
      end
      # verify the required parameter 'content' is set
      if @api_client.config.client_side_validation && content.nil?
        fail ArgumentError, "Missing the required parameter 'content' when calling UsersApi.create_feedback_form_email"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.create_feedback_form_email"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/feedback'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'content'] = content

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body'])

      return_type = opts[:return_type]

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#create_feedback_form_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete user.
    # @param user_id
    # @param password
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def delete_user(user_id, password, opts = {})
      data, _status_code, _headers = delete_user_with_http_info(user_id, password, opts)
      data
    end

    # Delete user.
    # @param user_id
    # @param password
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def delete_user_with_http_info(user_id, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.delete_user ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.delete_user"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling UsersApi.delete_user"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/delete'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'password'] = password

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#delete_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Disable additional user.
    # @param user_id
    # @param additional_user_id
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def disable_additional_user(user_id, additional_user_id, opts = {})
      data, _status_code, _headers = disable_additional_user_with_http_info(user_id, additional_user_id, opts)
      data
    end

    # Disable additional user.
    # @param user_id
    # @param additional_user_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def disable_additional_user_with_http_info(user_id, additional_user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.disable_additional_user ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.disable_additional_user"
      end
      # verify the required parameter 'additional_user_id' is set
      if @api_client.config.client_side_validation && additional_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'additional_user_id' when calling UsersApi.disable_additional_user"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/account/additional-users/{additionalUserId}'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'additionalUserId' + '}', additional_user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#disable_additional_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enable additional user.
    # @param user_id
    # @param additional_user_id
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def enable_additional_user(user_id, additional_user_id, opts = {})
      data, _status_code, _headers = enable_additional_user_with_http_info(user_id, additional_user_id, opts)
      data
    end

    # Enable additional user.
    # @param user_id
    # @param additional_user_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def enable_additional_user_with_http_info(user_id, additional_user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.enable_additional_user ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.enable_additional_user"
      end
      # verify the required parameter 'additional_user_id' is set
      if @api_client.config.client_side_validation && additional_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'additional_user_id' when calling UsersApi.enable_additional_user"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/account/additional-users/{additionalUserId}'.sub('{' + 'userId' + '}', user_id.to_s).sub('{' + 'additionalUserId' + '}', additional_user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#enable_additional_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Generate recovery key.
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [APIMessage]
    def generate_recovery_key_for_user(email, opts = {})
      data, _status_code, _headers = generate_recovery_key_for_user_with_http_info(email, opts)
      data
    end

    # Generate recovery key.
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIMessage, Integer, Hash)>] APIMessage data, response status code and response headers
    def generate_recovery_key_for_user_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.generate_recovery_key_for_user ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling UsersApi.generate_recovery_key_for_user"
      end
      # resource path
      local_var_path = '/api/v2/users/recoveries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIMessage'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#generate_recovery_key_for_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get account.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [APIAccount]
    def get_account(user_id, opts = {})
      data, _status_code, _headers = get_account_with_http_info(user_id, opts)
      data
    end

    # Get account.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAccount, Integer, Hash)>] APIAccount data, response status code and response headers
    def get_account_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.get_account ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.get_account"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/account'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIAccount'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get account concurrency status.
    # @param account_id
    # @param [Hash] opts the optional parameters
    # @return [APIAccountConcurrencyStatusMap]
    def get_account_concurrency_status(account_id, opts = {})
      data, _status_code, _headers = get_account_concurrency_status_with_http_info(account_id, opts)
      data
    end

    # Get account concurrency status.
    # @param account_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIAccountConcurrencyStatusMap, Integer, Hash)>] APIAccountConcurrencyStatusMap data, response status code and response headers
    def get_account_concurrency_status_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.get_account_concurrency_status ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling UsersApi.get_account_concurrency_status"
      end
      # resource path
      local_var_path = '/api/v2/accounts/{accountId}/concurrency-status'.sub('{' + 'accountId' + '}', account_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIAccountConcurrencyStatusMap'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_account_concurrency_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get additional users.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;lastName_a&lt;br&gt;sort&#x3D;mainUserEmail_a&lt;br&gt;sort&#x3D;accountId_a&lt;br&gt;sort&#x3D;firstName_a&lt;br&gt;sort&#x3D;serviceIds_a&lt;br&gt;sort&#x3D;mainUserId_a&lt;br&gt;sort&#x3D;createTime_a&lt;br&gt;sort&#x3D;deleteTime_a&lt;br&gt;sort&#x3D;accountServiceIds_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;email_a&lt;br&gt;sort&#x3D;status_a
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;lastname_eq_value&lt;br&gt;filter&#x3D;mainuseremail_eq_value&lt;br&gt;filter&#x3D;accountid_eq_1&lt;br&gt;filter&#x3D;firstname_eq_value&lt;br&gt;filter&#x3D;serviceids_eq_1&lt;br&gt;filter&#x3D;mainuserid_eq_1&lt;br&gt;filter&#x3D;createtime_eq_1700230364459&lt;br&gt;filter&#x3D;deletetime_eq_1700230364459&lt;br&gt;filter&#x3D;accountserviceids_eq_1&lt;br&gt;filter&#x3D;ismainuser_eq_true&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;email_eq_value&lt;br&gt;filter&#x3D;status_eq_inactive
    # @option opts [String] :offset offset parameter define page number (default to 0)
    # @option opts [String] :limit limit parameter define page size (default to 20)
    # @return [APIListAPIUser]
    def get_additional_users(user_id, opts = {})
      data, _status_code, _headers = get_additional_users_with_http_info(user_id, opts)
      data
    end

    # Get additional users.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :sort sort parameter contains list of fields used for sort query result &lt;br&gt; examples: &lt;br&gt; sort&#x3D;lastName_a&lt;br&gt;sort&#x3D;mainUserEmail_a&lt;br&gt;sort&#x3D;accountId_a&lt;br&gt;sort&#x3D;firstName_a&lt;br&gt;sort&#x3D;serviceIds_a&lt;br&gt;sort&#x3D;mainUserId_a&lt;br&gt;sort&#x3D;createTime_a&lt;br&gt;sort&#x3D;deleteTime_a&lt;br&gt;sort&#x3D;accountServiceIds_a&lt;br&gt;sort&#x3D;id_a&lt;br&gt;sort&#x3D;email_a&lt;br&gt;sort&#x3D;status_a
    # @option opts [String] :filter filter parameter contains list of fields used for filter query result &lt;br&gt; examples: &lt;br&gt; filter&#x3D;lastname_eq_value&lt;br&gt;filter&#x3D;mainuseremail_eq_value&lt;br&gt;filter&#x3D;accountid_eq_1&lt;br&gt;filter&#x3D;firstname_eq_value&lt;br&gt;filter&#x3D;serviceids_eq_1&lt;br&gt;filter&#x3D;mainuserid_eq_1&lt;br&gt;filter&#x3D;createtime_eq_1700230364459&lt;br&gt;filter&#x3D;deletetime_eq_1700230364459&lt;br&gt;filter&#x3D;accountserviceids_eq_1&lt;br&gt;filter&#x3D;ismainuser_eq_true&lt;br&gt;filter&#x3D;id_eq_1&lt;br&gt;filter&#x3D;email_eq_value&lt;br&gt;filter&#x3D;status_eq_inactive
    # @option opts [String] :offset offset parameter define page number
    # @option opts [String] :limit limit parameter define page size
    # @return [Array<(APIListAPIUser, Integer, Hash)>] APIListAPIUser data, response status code and response headers
    def get_additional_users_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.get_additional_users ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.get_additional_users"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/account/additional-users'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIListAPIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_additional_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get user.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def get_user(user_id, opts = {})
      data, _status_code, _headers = get_user_with_http_info(user_id, opts)
      data
    end

    # Get user.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def get_user_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.get_user ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.get_user"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get user by recovery key.
    # @param recovery_key
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def get_user_by_recovery_key(recovery_key, opts = {})
      data, _status_code, _headers = get_user_by_recovery_key_with_http_info(recovery_key, opts)
      data
    end

    # Get user by recovery key.
    # @param recovery_key
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def get_user_by_recovery_key_with_http_info(recovery_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.get_user_by_recovery_key ...'
      end
      # verify the required parameter 'recovery_key' is set
      if @api_client.config.client_side_validation && recovery_key.nil?
        fail ArgumentError, "Missing the required parameter 'recovery_key' when calling UsersApi.get_user_by_recovery_key"
      end
      # resource path
      local_var_path = '/api/v2/users/recoveries'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'recoveryKey'] = recovery_key

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_user_by_recovery_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Load user preferences.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [APIUserPreference]
    def load_user_preferences(user_id, opts = {})
      data, _status_code, _headers = load_user_preferences_with_http_info(user_id, opts)
      data
    end

    # Load user preferences.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUserPreference, Integer, Hash)>] APIUserPreference data, response status code and response headers
    def load_user_preferences_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.load_user_preferences ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.load_user_preferences"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/preferences'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUserPreference'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#load_user_preferences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Load ui preferences.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [String]
    def load_user_ui_preferences(user_id, opts = {})
      data, _status_code, _headers = load_user_ui_preferences_with_http_info(user_id, opts)
      data
    end

    # Load ui preferences.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def load_user_ui_preferences_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.load_user_ui_preferences ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.load_user_ui_preferences"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/ui-preferences'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'String'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#load_user_ui_preferences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Set new password after recovery.
    # @param key
    # @param password
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def recover_password(key, password, opts = {})
      data, _status_code, _headers = recover_password_with_http_info(key, password, opts)
      data
    end

    # Set new password after recovery.
    # @param key
    # @param password
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def recover_password_with_http_info(key, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.recover_password ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling UsersApi.recover_password"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling UsersApi.recover_password"
      end
      # resource path
      local_var_path = '/api/v2/users/password-recovery'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'key'] = key
      query_params[:'password'] = password

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#recover_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Register new user.
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def register(email, opts = {})
      register_with_http_info(email, opts)
      nil
    end

    # Register new user.
    # @param email
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def register_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.register ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling UsersApi.register"
      end
      # resource path
      local_var_path = '/api/v2/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type]

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#register\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reset api key.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def reset_api_key(user_id, opts = {})
      data, _status_code, _headers = reset_api_key_with_http_info(user_id, opts)
      data
    end

    # Reset api key.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def reset_api_key_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.reset_api_key ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.reset_api_key"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/reset-api-key'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#reset_api_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restore user requested to be deleted.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [APIUser]
    def restore_user(user_id, opts = {})
      data, _status_code, _headers = restore_user_with_http_info(user_id, opts)
      data
    end

    # Restore user requested to be deleted.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def restore_user_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.restore_user ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.restore_user"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/restore'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#restore_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Store user preferences.
    # @param body
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [APIUserPreference]
    def store_user_preferences(body, user_id, opts = {})
      data, _status_code, _headers = store_user_preferences_with_http_info(body, user_id, opts)
      data
    end

    # Store user preferences.
    # @param body
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @return [Array<(APIUserPreference, Integer, Hash)>] APIUserPreference data, response status code and response headers
    def store_user_preferences_with_http_info(body, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.store_user_preferences ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling UsersApi.store_user_preferences"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.store_user_preferences"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/preferences'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body)

      return_type = opts[:return_type] || 'APIUserPreference'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#store_user_preferences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Store ui preferences.
    # @param user_id
    # @param data
    # @param [Hash] opts the optional parameters
    # @return [String]
    def store_user_ui_preferences(user_id, data, opts = {})
      data, _status_code, _headers = store_user_ui_preferences_with_http_info(user_id, data, opts)
      data
    end

    # Store ui preferences.
    # @param user_id
    # @param data
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def store_user_ui_preferences_with_http_info(user_id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.store_user_ui_preferences ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.store_user_ui_preferences"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling UsersApi.store_user_ui_preferences"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}/ui-preferences'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data'] = data

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'String'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#store_user_ui_preferences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update user.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name
    # @option opts [String] :last_name
    # @option opts [String] :locale_country
    # @option opts [String] :time_zone
    # @option opts [String] :email
    # @option opts [String] :code
    # @option opts [String] :state
    # @option opts [String] :city
    # @option opts [String] :address
    # @option opts [String] :phone
    # @option opts [String] :organization
    # @option opts [String] :password
    # @option opts [String] :new_password
    # @option opts [String] :confirm_password
    # @option opts [BOOLEAN] :mfa_enabled
    # @option opts [String] :mfa_code
    # @return [APIUser]
    def update_user(user_id, opts = {})
      data, _status_code, _headers = update_user_with_http_info(user_id, opts)
      data
    end

    # Update user.
    # @param user_id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :first_name
    # @option opts [String] :last_name
    # @option opts [String] :locale_country
    # @option opts [String] :time_zone
    # @option opts [String] :email
    # @option opts [String] :code
    # @option opts [String] :state
    # @option opts [String] :city
    # @option opts [String] :address
    # @option opts [String] :phone
    # @option opts [String] :organization
    # @option opts [String] :password
    # @option opts [String] :new_password
    # @option opts [String] :confirm_password
    # @option opts [BOOLEAN] :mfa_enabled
    # @option opts [String] :mfa_code
    # @return [Array<(APIUser, Integer, Hash)>] APIUser data, response status code and response headers
    def update_user_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.update_user ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.update_user"
      end
      # resource path
      local_var_path = '/api/v2/users/{userId}'.sub('{' + 'userId' + '}', user_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'firstName'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'lastName'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'localeCountry'] = opts[:'locale_country'] if !opts[:'locale_country'].nil?
      query_params[:'timeZone'] = opts[:'time_zone'] if !opts[:'time_zone'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'address'] = opts[:'address'] if !opts[:'address'].nil?
      query_params[:'phone'] = opts[:'phone'] if !opts[:'phone'].nil?
      query_params[:'organization'] = opts[:'organization'] if !opts[:'organization'].nil?
      query_params[:'password'] = opts[:'password'] if !opts[:'password'].nil?
      query_params[:'newPassword'] = opts[:'new_password'] if !opts[:'new_password'].nil?
      query_params[:'confirmPassword'] = opts[:'confirm_password'] if !opts[:'confirm_password'].nil?
      query_params[:'mfaEnabled'] = opts[:'mfa_enabled'] if !opts[:'mfa_enabled'].nil?
      query_params[:'mfaCode'] = opts[:'mfa_code'] if !opts[:'mfa_code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body]

      return_type = opts[:return_type] || 'APIUser'

      auth_names = opts[:auth_names] || ['apiKeyInHeader']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#update_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
